@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

/* 
HTML5 Doctor Reset v1.6.1
http://html5doctor.com/html-5-reset-stylesheet/
CSSresetr
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-family: "SegoeUI";
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-color: #01152c !important;
}

.wrapper {
  font-size: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: url("../img/main-bg.jpg") no-repeat 50% 0/cover;
  background-size: cover;
}

@media screen and (min-width: 2500px) {
  .wrapper {
    font-size: 22px;
  }
}

@media screen and (min-width: 1921px) {
  .wrapper {
    font-size: 19px;
  }
}

@media screen and (max-width: 1370px) {
  .wrapper {
    font-size: 13px;
  }
}

@media screen and (max-width: 1120px) {
  .wrapper {
    font-size: 10px;
  }
}

@media screen and (max-width: 870px) {
  .wrapper {
    font-size: 8px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    font-size: 16px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    background: url("../img/main-bg-mob.jpg") no-repeat 50% 0/cover;
  }
}

@media (min-width: 768px) {
  .mob-visible {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desk-visible {
    display: none !important;
  }
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  max-width: 81.25em;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
  }
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  -webkit-box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, 0.5);
  background-color: #01152c;
}

@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}

.header .container {
  position: relative;
  z-index: 3;
}

.header .lang {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 100%;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header .lang {
    height: 50%;
  }
}

.header .lang__item {
  margin-right: 0.3125em;
}

.header .lang__item a {
  display: block;
  width: 1.875em;
  height: 1.875em;
  opacity: .2;
  border-radius: 50%;
  background-image: url(../img/flags/rus.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.header .lang__item a.us {
  background-image: url(../img/flags/us.png);
}

.header .lang__item a.active {
  opacity: 1;
}

@media (max-width: 767px) {
  .header .lang__item a {
    width: 1.25em;
    height: 1.25em;
  }
}

.header__title {
  font-size: 1.6875em;
  margin-bottom: 0;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 0.75em;
    font-weight: 500;
    padding-left: 15px;
    text-align: left;
  }
}

.header .social-block {
  padding: 0 10px;
}

@media (max-width: 480px) {
  .header .social-block {
    padding: 0;
  }
}

.header .social {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .header .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
}

.header .social a {
  margin-right: 0.625em;
}

@media screen and (max-width: 767px) {
  .header .social a {
    margin: 5px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li {
  margin: 0 0.625em;
}

.header__nav a {
  font-size: 1.1875em;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  display: inline;
  cursor: pointer;
}

.header__nav a:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .2s ease;
  background-color: #ffffff;
}

.header__nav a:hover {
  text-decoration: none;
  opacity: 1;
  color: #ffffff;
}

.header__nav a:hover:after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__nav a {
    font-size: 0.75em;
  }
}

.logo {
  font-size: 1.6875em;
  font-weight: bold;
  display: block;
  color: #ffffff;
  margin-right: -1.25em;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
}

.logo:hover {
  text-decoration: none;
  color: #ffffff;
}

.logo__bottom {
  font-size: 0.5925em;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .logo__bottom {
    font-size: 11px;
  }
}

.logo--blue {
  color: #00b2f0;
}

.logo--upcase {
  line-height: 1.375em;
  text-transform: uppercase;
}

.social-link {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .social-link {
    width: 24px;
    height: 24px;
    background-size: 15px;
  }
}

.tg {
  background: url("../img/telegram.png") no-repeat 50%/contain;
}

.fb {
  background: url("../img/facebook.png") no-repeat 50%/contain;
}

.skype {
  background: url("../img/skype.png") no-repeat 50%/contain;
}

.vk {
  background: url("../img/vk.png") no-repeat 50%/contain;
}

.wp {
  background: url("../img/whatsapp.png") no-repeat 50%/contain;
}

.sht {
  background: url("../img/shout.png") no-repeat 50%/contain;
}

.head-block {
  padding-top: 200px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .head-block {
    padding-top: 130px;
  }
}

.head-block .container {
  height: 38.0625em;
  background-size: 69.4375em 38.0625em;
}

@media screen and (max-width: 767px) {
  .head-block .container {
    height: auto;
    background: none;
  }
}

.head-block__laptop {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 25.375em;
  margin-left: 6.25em;
  cursor: pointer;
  -webkit-transition: ease-in-out .75s;
  -o-transition: ease-in-out .75s;
  transition: ease-in-out .75s;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.head-block__laptop:hover {
  -webkit-animation-name: cat;
          animation-name: cat;
}

@media screen and (max-width: 767px) {
  .head-block__laptop {
    width: 174px;
    margin: 0 auto;
    margin-top: 0px;
  }
}

.head-block__content {
  padding-left: 3.75em;
}

@media screen and (max-width: 767px) {
  .head-block__content {
    padding-left: 0;
  }
}

.head-block__title {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.22222;
  margin-right: -1.25em;
  margin-bottom: 0.625em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .head-block__title {
    font-size: 21px;
    line-height: 1.2381;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .head-block__title br {
    display: none;
  }
}

.head-block__title--blue {
  color: #00b2f0;
}

.head-block__desc {
  font-size: 1.5em;
  line-height: 1.08333;
  max-width: 18.75em;
  margin-bottom: 0.9375em;
}

@media screen and (max-width: 767px) {
  .head-block__desc {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.head-block__btn-2 {
  margin-top: 4.375em;
}

@media screen and (max-width: 767px) {
  .head-block__btn-2 {
    margin: 30px auto !important;
  }
}

@-webkit-keyframes cat {
  0% {
    left: 0;
  }
  33% {
    left: .2em;
  }
  66% {
    left: -.2em;
  }
  100% {
    left: 0;
  }
}

@keyframes cat {
  0% {
    left: 0;
  }
  33% {
    left: .2em;
  }
  66% {
    left: -.2em;
  }
  100% {
    left: 0;
  }
}

.btn-2 {
  font-size: 0.875em;
  font-weight: bold;
  display: block;
  width: 100%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 767px) {
  .btn-2 {
    font-size: 10px;
    margin: 30px 0;
  }
}

.btn-2:hover {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 187, 255, 0.8);
          box-shadow: 0 0 50px -5px rgba(0, 187, 255, 0.8);
  background: rgba(0, 187, 255, 0.5);
}

.btn-2--default {
  line-height: 4.071em;
  max-width: 17.429em;
  height: 4.071em;
  border-radius: 2.071em;
}

.btn-2--default-big {
  font-size: 1em;
  line-height: 4.25em;
  max-width: 18.25em;
  height: 4.25em;
  border-radius: 2.125em;
}

@media screen and (max-width: 767px) {
  .btn-2--default-big {
    font-size: 10px;
  }
}

.btn-2--default-blue {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  border: 1px solid #367bfe;
  background: -webkit-gradient(linear, left top, right top, from(#3679fe), color-stop(#388aff), to(#3a9aff));
  background: -o-linear-gradient(left, #3679fe, #388aff, #3a9aff);
  background: linear-gradient(to right, #3679fe, #388aff, #3a9aff);
}

.btn-2--default-blue:hover {
  border: 1px solid #ffffff;
  background: none;
}

.border-bottom-2 {
  margin-bottom: 3.75em;
  padding-bottom: 3.75em;
  border-bottom: 1px solid #0b1c38;
}

@media screen and (max-width: 767px) {
  .border-bottom-2 {
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
  }
}

.line {
  position: relative;
}

.line:after {
  position: absolute;
  bottom: -4.375em;
  left: 48%;
  display: block;
  width: 0.4375em;
  height: 9.375em;
  content: "";
  border-radius: 0.1875em;
  background: -webkit-gradient(linear, left top, left bottom, from(#022141), color-stop(#022b4d), color-stop(#015a86), color-stop(#00a3dd), to(#00b2f0));
  background: -o-linear-gradient(top, #022141, #022b4d, #015a86, #00a3dd, #00b2f0);
  background: linear-gradient(to bottom, #022141, #022b4d, #015a86, #00a3dd, #00b2f0);
}

@media screen and (max-width: 767px) {
  .line:after {
    display: none;
  }
}

.section-title {
  position: relative;
  margin-bottom: 2.5em;
  padding-left: 13.375em;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 20px;
    padding-left: 15px;
  }
}

.section-title:before {
  position: absolute;
  top: 50%;
  left: 0.9375em;
  display: block;
  width: 9.375em;
  height: 0.4375em;
  content: "";
  border-radius: 0.1875em;
  background: -webkit-gradient(linear, left top, right top, from(#011326), color-stop(#022b4d), color-stop(#015a86), color-stop(#00a3dd), to(#00b2f0));
  background: -o-linear-gradient(left, #011326, #022b4d, #015a86, #00a3dd, #00b2f0);
  background: linear-gradient(to right, #011326, #022b4d, #015a86, #00a3dd, #00b2f0);
}

@media screen and (max-width: 767px) {
  .section-title:before {
    display: none;
  }
}

.section-title__text {
  font-size: 3.875em;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
  padding-bottom: 0em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .section-title__text {
    font-size: 1.5em;
  }
}

.section-title--right {
  padding-right: 13.375em;
  padding-left: 0;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .section-title--right {
    padding-right: 10px;
  }
}

.section-title--right .section-title__text {
  padding-bottom: 0.1875em;
}

.section-title--right:before {
  right: 0.9375em;
  left: auto;
  background: -webkit-gradient(linear, right top, left top, from(#011326), color-stop(#022b4d), color-stop(#015a86), color-stop(#00a3dd), to(#00b2f0));
  background: -o-linear-gradient(right, #011326, #022b4d, #015a86, #00a3dd, #00b2f0);
  background: linear-gradient(to left, #011326, #022b4d, #015a86, #00a3dd, #00b2f0);
}

.about {
  margin-top: 13.75em;
  margin-bottom: 3.125em;
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 40px;
  }
}

.about__content {
  padding-left: 6.875em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .about__content {
    padding-left: 15px;
  }
}

.about__desc {
  font-size: 1.625em;
  line-height: 1.23077;
  margin-bottom: 1.346em;
}

@media screen and (max-width: 767px) {
  .about__desc {
    font-size: 14px;
  }
}

.about__list li {
  max-width: 58.125em;
  margin-bottom: 1.25em;
}

@media screen and (max-width: 767px) {
  .about__list li {
    margin-bottom: 12px;
  }
}

.about__list p {
  font-size: 1.625em;
  line-height: 1.23077;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .about__list p {
    font-size: 14px;
  }
}

.style-disk li {
  position: relative;
  padding-left: 2.8125em;
}

@media screen and (max-width: 767px) {
  .style-disk li {
    padding-left: 20px;
  }
}

.style-disk li:after {
  position: absolute;
  top: 0.8125em;
  left: 0;
  display: block;
  width: 0.6875em;
  height: 0.6875em;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.25em 0.0625em #d3eb6a;
          box-shadow: 0 0 1.25em 0.0625em #d3eb6a;
  background-color: #d3eb6a;
}

@media screen and (max-width: 767px) {
  .style-disk li:after {
    width: 7px;
    height: 7px;
    top: 7px;
  }
}

.why-we {
  margin-top: 13.4375em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .why-we {
    margin-top: 1.875em;
  }
}

.why-we__row {
  margin: 3.125em 0;
}

@media screen and (max-width: 767px) {
  .why-we__row {
    margin: 0;
    margin-bottom: 30px;
  }
}

.why-we__num-wrap {
  max-width: 11.6875em;
}

@media screen and (max-width: 767px) {
  .why-we__num-wrap {
    max-width: 128px;
    margin-bottom: 30px;
  }
}

.why-we__num-wrap img {
  max-width: 100%;
}

.why-we__title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.33333;
  margin-bottom: 0.3125em;
  text-transform: uppercase;
  color: #ebe9e9;
}

@media screen and (max-width: 767px) {
  .why-we__title {
    font-size: 0.875em;
    margin-bottom: 15px;
  }
}

.why-we__desc {
  font-size: 1.625em;
  line-height: 0.92308;
  max-width: 19.231em;
  color: #7c94b7;
}

@media screen and (max-width: 767px) {
  .why-we__desc {
    font-size: 0.875em;
  }
}

.why-we__content {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .why-we__content {
    margin-bottom: 0;
  }
}

.wherefore {
  margin-top: 9.375em;
}

@media screen and (max-width: 767px) {
  .wherefore {
    margin-top: 40px;
  }
}

.wherefore__content {
  margin-top: 5em;
}

@media screen and (max-width: 767px) {
  .wherefore__content {
    margin-top: 10px;
  }
}

.wherefore-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.125em;
}

@media screen and (max-width: 767px) {
  .wherefore-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 15px;
  }
}

.wherefore-item__desc {
  margin-bottom: 1.25em;
  padding-right: 3.75em;
}

@media screen and (max-width: 767px) {
  .wherefore-item__desc {
    padding-right: 0;
  }
}

.wherefore-item .item-ico {
  width: 9em;
  height: 9em;
}

@media screen and (max-width: 767px) {
  .wherefore-item .item-ico {
    width: 102px;
    height: 102px;
    margin: 0;
  }
}

.wherefore-item .item-ico img {
  max-width: 50%;
}

@media screen and (max-width: 767px) {
  .wherefore-item .item-ico img {
    max-width: 50%;
  }
}

.wherefore-item__content {
  padding-left: 2.8125em;
}

@media screen and (max-width: 767px) {
  .wherefore-item__content {
    padding-left: 0;
  }
}

.wherefore-item__head {
  max-width: 18.75em;
}

@media screen and (max-width: 767px) {
  .wherefore-item__head {
    margin: 20px 0;
  }
}

.item-title {
  font-size: 1.375em;
  font-weight: 500;
  margin-bottom: 0.625em;
  color: #ebe9e9;
}

@media screen and (max-width: 767px) {
  .item-title {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 15px;
    text-align: left;
  }
}

.item-desc {
  font-size: 1.25em;
  line-height: 1;
  color: #7c94b7;
}

@media screen and (max-width: 767px) {
  .item-desc {
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
  }
}

.item-ico {
  width: 7.8125em;
  height: 7.8125em;
  margin: 0 auto;
  border: 0.5em solid rgba(8, 24, 48, 0.72);
  border-radius: 50%;
  background: #0b1c38;
}

@media screen and (max-width: 767px) {
  .item-ico {
    margin: 0px auto;
    margin-bottom: 20px;
  }
}

.item-ico img {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 45%;
  width: auto;
  height: auto;
}

.whom {
  margin-top: 13.4375em;
}

@media screen and (max-width: 767px) {
  .whom {
    margin-top: 20px;
  }
}

.whom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.0625em;
  padding-bottom: 5.625em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .whom__content {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.whom .item-ico {
  position: relative;
  margin-bottom: 0.625em;
}

@media (max-width: 767px) {
  .whom .item-ico {
    margin-top: 117px;
    margin-bottom: 30px;
  }
}

.whom .item-ico:before {
  position: absolute;
  top: 50%;
  left: 8em;
  display: block;
  width: 11.5625em;
  height: 0.1875em;
  content: "";
  background: #009dd6;
}

@media (max-width: 767px) {
  .whom .item-ico:before {
    height: 5.625em;
    width: 0.1875em;
    left: 50%;
    top: -6.875em;
  }
}

.whom .item-ico:nth-child(3):before {
  display: none;
}

@media (max-width: 767px) {
  .whom .item-ico--first-line {
    margin-top: 150px;
  }
}

.whom .item-ico--first-line:before {
  background: -webkit-gradient(linear, left top, right top, from(#011224), color-stop(#00668f), to(#009dd6));
  background: -o-linear-gradient(left, #011224, #00668f, #009dd6);
  background: linear-gradient(to right, #011224, #00668f, #009dd6);
}

@media (max-width: 767px) {
  .whom .item-ico--first-line:before {
    height: 8.5em;
    width: 0.1875em;
    background: -webkit-gradient(linear, left top, left bottom, from(#011224), color-stop(#00668f), to(#009dd6));
    background: -o-linear-gradient(top, #011224, #00668f, #009dd6);
    background: linear-gradient(to bottom, #011224, #00668f, #009dd6);
    top: -9.6875em;
    left: 50%;
  }
}

.whom .item-ico--third-line:before {
  display: none;
}

@media (max-width: 767px) {
  .whom .item-ico--third-line:before {
    display: block;
  }
}

@media (max-width: 767px) {
  .whom .item-ico--last-line {
    margin-top: 10em;
  }
}

.whom .item-ico--last-line:before {
  right: 8em;
  left: auto;
  background: -webkit-gradient(linear, right top, left top, from(#011224), color-stop(#00668f), to(#009dd6));
  background: -o-linear-gradient(right, #011224, #00668f, #009dd6);
  background: linear-gradient(to left, #011224, #00668f, #009dd6);
}

@media (max-width: 767px) {
  .whom .item-ico--last-line:before {
    height: 8.5em;
    width: 0.1875em;
    background: -webkit-gradient(linear, left bottom, left top, from(#011224), color-stop(#00668f), to(#009dd6));
    background: -o-linear-gradient(bottom, #011224, #00668f, #009dd6);
    background: linear-gradient(to top, #011224, #00668f, #009dd6);
    top: -9.6875em;
    left: 50%;
    right: auto;
  }
}

@media (max-width: 767px) {
  .whom__btn-2 {
    background: none;
    border-color: #fff;
  }
}

.whom-item {
  position: relative;
}

.whom-item__content {
  padding: 0 1.25em;
}

@media screen and (max-width: 767px) {
  .whom-item__content {
    position: static;
    padding-left: 10px;
    padding: 0 0.9375em;
  }
}

.whom-item__content--right {
  top: 3.75em;
  left: 60%;
}

.whom-item__content--left {
  top: 3.75em;
  right: 60%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .whom-item__content .whom-item__title,
  .whom-item__content .whom-item__desc {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .whom-item__content.mob-right .whom-item__title,
  .whom-item__content.mob-right .whom-item__desc {
    text-align: right;
  }
}

.semi-bold {
  font-weight: bold;
}

.geography {
  margin-top: 7.5em;
}

@media screen and (max-width: 767px) {
  .geography {
    margin-top: 50px;
  }
}

.geography__content {
  position: relative;
  margin-top: 6.25em;
}

@media screen and (max-width: 767px) {
  .geography__content {
    font-size: 7px;
  }
}

@media screen and (max-width: 480px) {
  .geography__content {
    font-size: 16px;
    right: 210px;
    margin-top: -80px;
    margin-bottom: -100px;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.geography__content .map-point {
  position: absolute;
}

.geography__content .map-point--1 {
  top: 3em;
  left: 25.875em;
}

.geography__content .map-point--2 {
  top: 8.8125em;
  left: 8.9375em;
}

.geography__content .map-point--3 {
  top: 11.0625em;
  left: 11.4375em;
}

.geography__content .map-point--4 {
  top: 22.625em;
  left: 18.9375em;
}

.geography__content .map-point--5 {
  top: 9.8125em;
  left: 41.5em;
}

.geography__content .map-point--6 {
  top: 14.625em;
  left: 41.5em;
}

.geography__content .map-point--7 {
  top: 13em;
  left: 52.9375em;
}

.geography__content .map-point--8 {
  top: 18.1875em;
  left: 34.875em;
}

.geography__content .map-point--9 {
  top: 27.5625em;
  left: 60.125em;
}

.geography-map {
  width: 70.9375em;
}

@media screen and (max-width: 767px) {
  .geography-map {
    margin: 0 auto;
  }
}

.map-point {
  position: relative;
  display: block;
  width: 1.375em;
  height: 1.375em;
  border-radius: 50%;
}

.map-point:after {
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  display: block;
  width: 1.125em;
  height: 1.125em;
  content: "";
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
  border-radius: 50%;
  background: #c3e049;
}

.map-point--1::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
}

.map-point--2::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.map-point--3::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.map-point--4::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.map-point--5::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.map-point--6::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.map-point--7::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.map-point--8::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.map-point--9::after {
  -webkit-animation-name: map-point;
          animation-name: map-point;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

@-webkit-keyframes map-point {
  0% {
    background: #c3e049;
  }
  90% {
    background: #c3e049;
  }
  100% {
    background-color: #011226;
  }
}

@keyframes map-point {
  0% {
    background: #c3e049;
  }
  90% {
    background: #c3e049;
  }
  100% {
    background-color: #011226;
  }
}

.working {
  margin-top: 12.8125em;
}

@media screen and (max-width: 767px) {
  .working {
    margin-top: 50px;
  }
}

.working .section-title {
  margin-bottom: 0.625em;
}

@media screen and (max-width: 767px) {
  .working .section-title {
    text-align: right;
  }
}

.working__desc {
  font-size: 1.625em;
  line-height: 1.23077;
  padding-left: 8.4375em;
  color: #7c94b7;
}

@media screen and (max-width: 767px) {
  .working__desc {
    display: block;
    width: 100%;
    font-size: 0.75em;
    font-weight: bold;
    padding-right: 0px;
    padding-left: 15px;
    text-align: right;
  }
}

.working__desc--upcase {
  text-transform: uppercase;
}

.working__content {
  margin: 0 auto;
  margin-top: 4.375em;
  margin-bottom: 1.875em;
}

@media screen and (max-width: 767px) {
  .working__content {
    margin: 20px 0;
    padding: 0 15px;
  }
}

.working .border-bottom-2 {
  border-bottom: 1px solid #354559;
}

@media screen and (max-width: 767px) {
  .working .border-bottom-2 {
    padding-bottom: 20px;
    border: none;
  }
}

.working__desc-p-block {
  margin-top: 4.375em;
}

@media screen and (max-width: 767px) {
  .working__desc-p-block {
    margin-top: 0;
  }
}

.working__desc-p {
  font-size: 1.625em;
  line-height: 1.23077;
  margin-bottom: 1.25em;
  padding-left: 5em;
}

@media screen and (max-width: 767px) {
  .working__desc-p {
    font-size: 14px;
    line-height: 16px;
    padding-left: 0;
  }
}

.working-item {
  width: 25%;
  margin: 0 0.625em;
}

@media screen and (max-width: 767px) {
  .working-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

.working-item__head {
  margin-bottom: 1.875em;
}

.working-item__desc {
  font-size: 1.125em;
  max-width: 12.5em;
}

@media screen and (max-width: 767px) {
  .working-item__desc {
    font-size: 0.875em;
    max-width: 100%;
    text-align: left;
    padding-left: 0;
  }
}

.working-item .item-ico {
  position: relative;
  margin-left: 2.5em;
}

@media screen and (max-width: 767px) {
  .working-item .item-ico {
    margin: 20px auto;
  }
}

.working-item .item-ico img {
  max-width: 33%;
  -ms-flex-item-align: center;
      align-self: center;
}

.working-item .item-ico:before {
  position: absolute;
  top: 50%;
  right: -8.5625em;
  display: block;
  width: 7.1875em;
  height: 0.1875em;
  content: "";
  background: #009dd6;
}

@media screen and (max-width: 767px) {
  .working-item .item-ico:before {
    display: none;
  }
}

.working-item .item-ico--first-line:before {
  background: -webkit-gradient(linear, left top, right top, from(#011224), color-stop(#00668f), to(#009dd6));
  background: -o-linear-gradient(left, #011224, #00668f, #009dd6);
  background: linear-gradient(to right, #011224, #00668f, #009dd6);
}

.working-item .item-ico--last-line:before {
  background: -webkit-gradient(linear, right top, left top, from(#011224), color-stop(#00668f), to(#009dd6));
  background: -o-linear-gradient(right, #011224, #00668f, #009dd6);
  background: linear-gradient(to left, #011224, #00668f, #009dd6);
}

.working-item .item-ico--no-line:before {
  display: none;
}

.working-diagram {
  width: 100%;
  max-width: 80.25em;
  margin: 0 auto;
  margin-top: 3.125em;
}

.architecture {
  margin-top: 7.5em;
}

@media screen and (max-width: 767px) {
  .architecture {
    margin-top: 50px;
  }
}

.architecture__desc-block {
  max-width: 62.5em;
  margin-left: 5.9375em;
}

@media screen and (max-width: 767px) {
  .architecture__desc-block {
    margin-left: 15px;
  }
}

.architecture__desc {
  font-size: 1.5em;
  line-height: 1;
  color: #ffffff;
}

.architecture__desc:last-child {
  margin-bottom: 3.125em;
}

@media screen and (max-width: 767px) {
  .architecture__desc {
    font-size: 0.875em;
  }
}

.architecture-img {
  width: 59.625em;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .architecture-img {
    padding: 0 10px;
  }
}

.reviews {
  margin-top: 7.5em;
}

@media screen and (max-width: 767px) {
  .reviews {
    margin-top: 20px;
  }
}

.reviews__content {
  margin-top: 5.625em;
}

.slider-wrap {
  max-width: 65em;
  margin: 0 auto;
  margin-bottom: 3.125em;
  padding-top: 6.875em;
  padding-bottom: 3.75em;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
  background: rgba(1, 21, 44, 0.71);
}

@media screen and (max-width: 767px) {
  .slider-wrap {
    margin-bottom: 0;
    padding-top: 20px;
  }
}

.rewiew-photo {
  width: 13.125em;
  height: 13.125em;
  margin: 0 auto;
  padding: 0.3125em;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #04ff2d), color-stop(70%, #2bafc9));
  background: -o-linear-gradient(left, #04ff2d 0, #2bafc9 70%);
  background: linear-gradient(to right, #04ff2d 0, #2bafc9 70%);
  background-color: red;
}

@media screen and (max-width: 767px) {
  .rewiew-photo {
    width: 180px;
    height: 180px;
  }
}

.rewiew-photo img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.slider-photo {
  position: relative;
  z-index: 2;
  max-width: 43.75em;
  margin: 0 auto;
}

.slider-photo:before, .slider-photo:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -3.4375em;
  display: block;
  width: 6.5625em;
  height: 2px;
  content: "";
  background: #c6c6c6;
}

@media screen and (max-width: 767px) {
  .slider-photo:before, .slider-photo:after {
    display: none;
  }
}

.slider-photo:after {
  right: -3.4375em;
  left: auto;
}

.slider-photo .slick-list {
  z-index: 5;
  padding: 0 !important;
}

.slider-photo .slide {
  position: relative;
  padding-top: 2.5em;
}

.slider-photo .slide .rewiew-photo {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55);
}

@media screen and (max-width: 767px) {
  .slider-photo .slide .rewiew-photo {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.slider-photo .slide.slick-active:before, .slider-photo .slide.slick-active:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -2.9375em;
  display: block;
  width: 2.8125em;
  height: 2px;
  content: "";
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 0;
  background: #c6c6c6;
}

@media screen and (max-width: 767px) {
  .slider-photo .slide.slick-active:before, .slider-photo .slide.slick-active:after {
    display: none;
  }
}

.slider-photo .slide.slick-active:after {
  right: -2.8125em;
  left: auto;
}

.slider-photo .slide.slick-active.slick-center {
  position: relative;
}

.slider-photo .slide.slick-active.slick-center .rewiew-photo {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.slider-photo .slide.slick-active.slick-center:before, .slider-photo .slide.slick-active.slick-center:after {
  opacity: 1;
}

.slider-photo .slide.slick-active.slick-center .rewiew-order {
  opacity: 1;
  color: #ffffff;
}

.rewiew-order {
  font-size: 1.75em;
  margin-top: 0.5em;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  text-align: center;
  opacity: 0;
}

.slider-text {
  margin-top: 1.875em;
}

.slider-text .slick-list {
  padding: 0 !important;
}

.slider-text a {
  display: block;
  height: 100%;
  color: #ffffff;
}

.slider-text a:hover {
  color: #ffffff;
}

.rewiew__title {
  font-size: 2.25em;
  font-weight: bold;
  margin-bottom: .833em;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .rewiew__title {
    font-size: 1.5em;
  }
}

.rewiew__title a {
  font-weight: bold;
  margin-bottom: .833em;
  text-align: center;
  color: #ffffff;
}

.rewiew__desc {
  font-size: 1.8125em;
  line-height: 1.06897;
  margin: 0 auto;
  padding: 0 2.759em;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .rewiew__desc {
    font-size: 0.875em;
  }
}

.forums {
  margin-top: 14.375em;
}

@media screen and (max-width: 767px) {
  .forums {
    margin-top: 70px;
  }
}

.forums .section-title {
  margin-bottom: 5.625em;
}

@media screen and (max-width: 767px) {
  .forums .section-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .forums__btn-2 {
    background: none;
    border-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .forums .border-bottom-3 {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
}

.forums-slider-wrap {
  display: none;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .forums-slider-wrap {
    display: block;
  }
}

.border-bottom-3 {
  margin-bottom: 3.125em;
  padding-bottom: 5em;
  border-bottom: 1px solid #0b1c38;
}

@media screen and (max-width: 767px) {
  .border-bottom-3 {
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
  }
}

.forum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3.75em;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forum:hover {
  text-decoration: none;
  color: #fff;
}

.forum:hover .forum__desc {
  text-decoration: underline;
}

.forum__desc {
  font-size: 1.625em;
  font-weight: bold;
  line-height: 1.38462;
  margin-top: 1.1875em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .forum__desc {
    margin-top: 10px;
  }
}

.forum__slide-of {
  font-size: 28px;
  text-align: center;
  margin-top: 0.3125em;
  display: none;
}

@media screen and (max-width: 767px) {
  .forum__slide-of {
    display: block;
  }
}

.forum-photo {
  position: relative;
  width: 8.5em;
  min-height: 1px;
}

@media screen and (max-width: 767px) {
  .forum-photo {
    width: 181px;
  }
}

.forum-photo img {
  width: 100%;
}

.forum-photo:before {
  position: absolute;
  top: 50%;
  left: 10.125em;
  display: block;
  width: 8.625em;
  height: 0.1875em;
  content: "";
  background: #009dd6;
}

@media screen and (max-width: 767px) {
  .forum-photo:before {
    display: none;
  }
}

.forum-photo--first-line:before {
  background: -webkit-gradient(linear, left top, right top, from(#011224), color-stop(#00668f), to(#009dd6));
  background: -o-linear-gradient(left, #011224, #00668f, #009dd6);
  background: linear-gradient(to right, #011224, #00668f, #009dd6);
}

.forum-photo--third-line:before {
  display: none;
}

.forum-photo--last-line:before {
  right: 10.125em;
  left: auto;
  background: -webkit-gradient(linear, right top, left top, from(#011224), color-stop(#00668f), to(#009dd6));
  background: -o-linear-gradient(right, #011224, #00668f, #009dd6);
  background: linear-gradient(to left, #011224, #00668f, #009dd6);
}

.rates {
  margin-top: 10.3125em;
}

@media screen and (max-width: 767px) {
  .rates {
    margin-top: 30px;
  }
}

.rates__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .rates__content {
    margin-top: 70px;
  }
}

.rate-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 27.5em;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 1.25em;
  padding: 2.5em;
  border-radius: 0.9375em;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07203d), to(#021227));
  background: -o-linear-gradient(top, #07203d 0, #021227 100%);
  background: linear-gradient(-180deg, #07203d 0, #021227 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (max-width: 767px) {
  .rate-item {
    margin-bottom: 80px;
    padding: 30px 15px;
  }
}

.rate-item__property {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5625em 0.75em;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #ffffff;
  border-radius: 1.25em;
  background-color: #f37d47;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rate-item__property img {
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.rate-item__property span {
  font-size: 0.875em;
}

.rate-item__title {
  font-size: 1.875em;
  font-weight: bold;
  line-height: 0.94444;
  position: relative;
  margin-top: 0.4375em;
  margin-bottom: 1.25em;
  padding-bottom: 0.53125em;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .rate-item__title {
    font-size: 25px;
  }
}

.rate-item__title:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 3.75em;
  height: 1px;
  content: "";
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #4089d8;
}

.rate-item__list {
  margin-top: 1.25em;
  margin-bottom: 2.5em;
}

@media screen and (max-width: 767px) {
  .rate-item__list {
    margin-bottom: 30px;
  }
}

.rate-item__list li {
  margin-bottom: 0.9375em;
  position: relative;
  padding-left: 1.125em;
}

@media screen and (max-width: 767px) {
  .rate-item__list li {
    padding-left: 0;
  }
}

.rate-item__list li:after {
  content: "";
  display: block;
  width: 0.3125em;
  height: 0.3125em;
  border-radius: 50%;
  position: absolute;
  top: 0.3125em;
  left: 0;
  background: #e8e8e8;
}

@media screen and (max-width: 767px) {
  .rate-item__list li:after {
    display: none;
  }
}

.rate-item__desc {
  font-size: 0.875em;
  line-height: 1.21429;
  position: relative;
  color: #7c94b7;
}

@media screen and (max-width: 767px) {
  .rate-item__desc br {
    display: none;
  }
}

.rate-item__btn-2 {
  font-size: 0.8125em;
  margin: 0 auto;
  max-width: 16.875em;
  width: 100%;
  height: 3.875em;
}

.rate-item__price-wrap {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8125em 1.875em;
  padding-top: 0.5em;
  text-align: center;
  border-radius: 3.125em;
  background: -webkit-gradient(linear, left top, right top, from(#16da76), color-stop(#21c3a2), to(#2bafc8));
  background: -o-linear-gradient(left, #16da76, #21c3a2, #2bafc8);
  background: linear-gradient(to right, #16da76, #21c3a2, #2bafc8);
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rate-item__price-wrap--no-gb {
  background: none;
  margin-top: 0.3125em;
}

.rate-item__price-wrap--no-gb .rate-item__price {
  font-size: 1em;
}

.rate-item__price-wrap--no-gb .rate-item__price span:first-child {
  font-size: 2.3125em;
  margin-right: -0.125em;
}

.rate-item__price-wrap--no-gb .rate-item__price span:last-child {
  font-size: 1.5625em;
}

.rate-item__price {
  font-size: 1.1875em;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.rate-item__price span {
  font-weight: bold;
}

.rate-item__price span:first-child {
  font-size: 2.3125em;
  margin-right: -0.1875em;
}

@media screen and (max-width: 767px) {
  .rate-item__price span:first-child {
    margin-right: -2px;
  }
}

.rate-item__price span:last-child {
  font-size: 1.5625em;
}

.rate-item .flags {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .rate-item .flags {
    margin-top: 3px;
  }
}

.rate-item .flags img {
  display: inline-block;
  width: 1.58594em;
  position: relative;
  margin-left: 0.5em;
  margin-top: -0.625em;
  top: 0.3125em;
}

@media screen and (max-width: 767px) {
  .rate-item .flags img {
    margin: 0;
    margin-right: 8px;
    width: 29px;
  }
}

.partners {
  margin-top: 12.5em;
  margin-bottom: 13.75em;
}

@media screen and (max-width: 767px) {
  .partners {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.125em;
}

@media screen and (max-width: 767px) {
  .partners__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 30px;
    padding: 0;
  }
}

.partners__logo {
  display: block;
  margin: 0 1.25em;
}

@media screen and (max-width: 767px) {
  .partners__logo {
    margin-bottom: 30px;
  }
}

.partners__logo img {
  max-width: 100%;
}

.partners__logo:hover {
  opacity: .85;
}

.partners-2 {
  width: 13.625em;
}

.partners-3 {
  width: 2.4375em;
}

.partners-4 {
  width: 5.875em;
}

.partners-5 {
  width: 10.125em;
}

.partners-6 {
  width: 12.0625em;
}

@media screen and (max-width: 767px) {
  .partners-6 {
    width: 193px;
  }
}

.partners-7 {
  width: 10.5625em;
}

.footer {
  width: 100%;
  margin-top: 3.75em;
  padding: 3.75em 0;
  color: #ffffff;
  -webkit-box-shadow: 0 0 2.5em 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5em 0 rgba(0, 0, 0, 0.5);
  background: #01152c;
}

@media screen and (max-width: 767px) {
  .footer {
    position: static;
    margin-top: 60px;
    background: #01152c;
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

.footer .left-footer {
  padding-left: 9.6875em;
}

@media screen and (max-width: 767px) {
  .footer .left-footer {
    padding-left: 0;
    margin-top: 40px;
  }
}

.footer .right-footer {
  max-width: 36.5625em;
  padding-right: 10.125em;
}

@media screen and (max-width: 767px) {
  .footer .right-footer {
    padding-right: 0;
  }
}

.footer__block-title {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 1.667em;
}

.footer__block-title--2 {
  font-size: 1em;
  margin-bottom: 1.25em;
}

.footer .social-links {
  margin-bottom: 0.75em;
}

@media screen and (max-width: 767px) {
  .footer .social-links {
    margin-right: -10px;
  }
}

.footer .social-link {
  margin-right: 0.75em;
}

@media screen and (max-width: 767px) {
  .footer .social-link {
    width: 40px;
    height: 40px;
  }
}

.footer .contacts__link {
  font-size: 1em;
  line-height: 1.5;
  display: block;
  color: #ffffff;
}

.payment {
  margin-top: 1.875em;
}

.payment__title {
  font-weight: 500;
  margin-bottom: 0.9375em;
}

@media screen and (max-width: 767px) {
  .payment__title {
    margin: 25px 0;
  }
}

.payment .payment-wrap {
  max-width: 18.75em;
}

.payment-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.3125em;
  height: 3.3125em;
  margin-right: 0.9375em;
  margin-bottom: 0.9375em;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: none;
  background: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-link:hover {
  background: none;
}

.payment-link span {
  display: block;
}

.payment-sprite {
  display: block;
  background-image: url(../img/payments/payments-sprite.png);
  background-repeat: no-repeat;
  background-size: 37.25em;
}

.bitcoin {
  width: 1.5em;
  height: 2.0625em;
  background-position: -2.4375em -0.3125em;
}

.payment-link:hover .bitcoin {
  background-position: -0.3125em -0.3125em;
}

.master-card {
  width: 2.5625em;
  height: 1.6875em;
  background-position: -7.75em -0.3125em;
}

.payment-link:hover .master-card {
  background-position: -4.5625em -0.3125em;
}

.ppal {
  width: 1.875em;
  height: 1.9375em;
  background-position: -13.4375em -0.3125em;
}

.payment-link:hover .ppal {
  background-position: -10.9375em -0.3125em;
}

.qiwi {
  width: 2em;
  height: 2em;
  background-position: -18.5625em -0.3125em;
}

.payment-link:hover .qiwi {
  background-position: -15.9375em -0.3125em;
}

.visa {
  width: 2.6875em;
  height: 0.875em;
  background-position: -24.5em -0.3125em;
}

.payment-link:hover .visa {
  background-position: -21.1875em -0.3125em;
}

.wm {
  width: 1.875em;
  height: 1.875em;
  background-position: -30.3125em -0.3125em;
}

.payment-link:hover .wm {
  background-position: -27.8125em -0.3125em;
}

.yad {
  width: 1.75em;
  height: 2em;
  background-position: -35.1875em -0.3125em;
}

.payment-link:hover .yad {
  background-position: -32.8125em -0.3125em;
}

.project-by {
  font-size: 1.125em;
  line-height: 1.33333;
  margin-top: 0.625em;
}

@media screen and (max-width: 767px) {
  .project-by {
    font-size: 0.875em;
  }
}

.project-by a {
  color: #ffffff !important;
}

.copyright {
  margin-top: 1.875em;
}

.copyring {
  font-size: 1.125em;
  line-height: 1.33333;
}

.copyring a {
  color: #2bafc9 !important;
}

.policy {
  font-size: 1.125em;
  line-height: 1.33333;
  color: #ffffff !important;
}

.faq__title {
  font-size: 1.5em;
  line-height: 1.25;
  text-align: center;
}

.faq__desc {
  font-size: 1.125em;
  line-height: 1.66667;
  margin-top: 0.625em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .faq__desc {
    font-size: 1em;
    line-height: 12px;
    margin: 30px 0;
  }
}

.faq__desc-2 {
  font-size: 1em;
  line-height: 1.125;
  padding: 1.5625em 0.9375em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .faq__desc-2 {
    font-size: 0.875em;
    text-align: left;
  }
  .faq__desc-2 br {
    display: none;
  }
}

.faq__content {
  margin-top: 0.9375em;
}

@media screen and (max-width: 767px) {
  .faq__content {
    padding: 0;
  }
}

.faq__btn-2 {
  font-size: 0.5625em;
}

@media screen and (max-width: 767px) {
  .faq__btn-2 {
    font-size: 0.625em;
    margin: 10px auto;
  }
}

.faq-ul {
  padding: 0.9375em 2em;
  padding-bottom: 2.625em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  background: #09213d;
}

@media screen and (max-width: 767px) {
  .faq-ul {
    padding: 15px 10px;
    padding-bottom: 50px;
  }
}

.faq-ul__title {
  min-height: 2.5em;
  padding: 0.625em 0;
  cursor: pointer;
  border-bottom: 1px solid #1d344e;
}

@media screen and (max-width: 767px) {
  .faq-ul__title {
    font-size: 16px;
  }
}

.faq-ul__desc {
  font-size: .875em;
  line-height: 1;
  margin-top: 0.625em;
  padding: 0.9375em 1.25em !important;
  cursor: default !important;
  border: none;
  border-radius: 10px;
  background: #2b4b70;
  display: none;
}

@media screen and (max-width: 767px) {
  .faq-ul__desc {
    font-size: 14px;
  }
}

.faq-ul__li:first-child .faq-ul__desc {
  display: block;
}

.faq-ul a {
  color: #ffffff;
}

.faq-ul a:hover {
  color: #ffffff;
}

.modal-header {
  margin-bottom: 0px;
}

.modal-title {
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: #333333;
}

.modal .close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #333333;
  border: none;
  outline: none;
}

.modal-subtitle {
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 100%;
  max-width: 260px;
  margin: 0 auto 20px;
  text-align: center;
  color: #00b2f0;
}

.modal input {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin: 0 auto 20px;
  padding: 0 15px;
  border: none;
  background-color: #eff1fb;
}

.modal button {
  cursor: pointer;
  color: #00b2f0;
  border: 1px solid #00b2f0;
  outline: none;
  background-color: transparent;
}

.cat-go {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 15%;
  height: 25%;
}

@media (max-width: 1210px) {
  .cat-go {
    display: none;
  }
}

.cat-go__img {
  position: fixed;
  top: 50%;
  left: -40.625em;
  display: block;
  width: 37.5em;
  max-width: 100%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cat-go__img.active {
  -webkit-animation: cat-go 4s linear;
          animation: cat-go 4s linear;
}

@-webkit-keyframes cat-go {
  0% {
    top: 50%;
    left: -40.625em;
  }
  20% {
    top: 10%;
    left: 0%;
  }
  30% {
    top: 20%;
    left: 10%;
  }
  50% {
    top: 40%;
    left: 30%;
  }
  70% {
    top: 20%;
    left: 50%;
  }
  100% {
    top: 40%;
    left: 100%;
  }
}

@keyframes cat-go {
  0% {
    top: 50%;
    left: -40.625em;
  }
  20% {
    top: 10%;
    left: 0%;
  }
  30% {
    top: 20%;
    left: 10%;
  }
  50% {
    top: 40%;
    left: 30%;
  }
  70% {
    top: 20%;
    left: 50%;
  }
  100% {
    top: 40%;
    left: 100%;
  }
}

@media (min-width: 1921px) {
  .container {
    max-width: 1300px !important;
  }
}

/*# sourceMappingURL=styles.css.map */

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
 
*::-webkit-scrollbar-track {
  background: #fff;
}
 
*::-webkit-scrollbar-thumb {
  background: #01152c; 
}

.modal .g-recaptcha-container {
  text-align: center;
}

.modal .g-recaptcha-container .g-recaptcha {
  display: inline-block;
}

.user-agreement {
  margin-top: 1.875em;
}

.modal .login__help {
    font-size: 14px;
    text-align: center;
    /* margin-top: 40px; */
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.modal .bottom-links{
    padding-bottom: 30px;
    color: #75758b;
}

.arcticmodal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    background-color: rgb(17, 28, 110); 
    opacity: 0.9;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(240,240,240,.91);
    overflow: hidden;
    display: none;
    z-index: 9999;
}

#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

.alert-success {
    color: #28623c;
    background-color: #adffe7;
    border-color: #adffe7;
}

.alert-danger {
    color: #813838;
    background-color: #ffc2cb;
    border-color: #ffc2cb;
}

.alert{
    text-align: center;
}