$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

@function lh($lh, $fs) {
	@return #{$lh/$fs};
}

@import "_fonts.scss";
@import "_reset.scss";

@mixin clearfix() {
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

@mixin line-decor-hover() {
	position: relative;
	display: inline;
	cursor: pointer;

	&:after {
		position: absolute;
		bottom: -3px;
		left: 0;
		display: block;
		width: 0;
		height: 2px;
		content: "";
		transition: width .2s ease;
		background-color: #ffffff;
	}

	&:hover {
		text-decoration: none;
		opacity: 1;
		color: #ffffff;

		&:after {
			width: 100%;
		}
	}
}

.clearfix {
	@include clearfix;
}




body {
	font-family: "SegoeUI";
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	background-color: #01152c !important;
}

.wrapper {
	font-size: 16px;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	background: url("../img/main-bg.jpg") no-repeat 50% 0 / cover;
	background-size: cover;

	@media screen and (min-width: 2500px) {
		font-size: 22px;
	}


	@media screen and (min-width: 1921px) {
		font-size: 19px;
	}

	@media screen and (max-width: 1370px) {
		font-size: 13px;
	}

	@media screen and (max-width: 1120px) {
		font-size: 10px;
	}

	@media screen and (max-width: 870px) {
		font-size: 8px;
	}

	@media screen and (max-width: 767px) {
		font-size: 16px;
		padding-bottom: 0;
	}

	@media screen and (max-width: 480px) {
		background: url("../img/main-bg-mob.jpg") no-repeat 50% 0 / cover;
	}
}

.mob-visible {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.desk-visible {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.container {
	box-sizing: content-box;
	width: 100%;
	max-width: em(1300);
	margin: 0 auto;

	@media screen and (max-width: 767px) {
		box-sizing: border-box;
		max-width: 500px;
	}

	@media screen and (max-width: 480px) {
		max-width: 320px;
	}
}

.header {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: em(80);
	box-shadow: 0 0 em(20) 0 rgba(0, 0, 0, .5);
	background-color: #01152c;

	@media screen and (max-width: 767px) {
		height: auto;
	}

	.container {
		position: relative;
		z-index: 3;
	}

	.lang {
		position: absolute;
		top: 0;
		right: 0;
		display:         flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		height: 100%;
		margin-bottom: 0;
		align-items: center;

		@media (max-width: 767px) {
			height: 50%;
		}
		&__item {
			margin-right: em(5);
			a {
				display: block;
				width: em(30);
				height: em(30);
				opacity: .2;
				border-radius: 50%;
				background-image: url(../img/flags/rus.png);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;

				&.us {
					background-image: url(../img/flags/us.png);
				}
				&.active {
					opacity: 1;
				}
				@media (max-width: 767px) {
					width: em(20);
					height: em(20);
				}
			}
		}
	}

	&__title {
		font-size: em(27);
		margin-bottom: 0;
		text-align: right;
		color: #ffffff;

		@media screen and (max-width: 767px) {
			font-size: em(12);
			font-weight: 500;
			padding-left: 15px;
			text-align: left;
		}
	}

	.social-block {
		padding: 0 10px;

		@media (max-width: 767px) {
			
		}
		@media (max-width: 480px) {
			padding: 0;
		}
	}

	.social {
		margin-bottom: 0;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;

		@media screen and (max-width: 767px) {
			justify-content: center;
			margin-bottom: 10px;
		}

		a {
			margin-right: em(10);

			@media screen and (max-width: 767px) {
				margin: 5px;
			}
		}
	}

	&__nav {
		display: flex;
		width: 100%;

		@media screen and (max-width: 767px) {
			display: none;
		}

		li {
			margin: 0 em(10);
		}

		a {
			font-size: em(19);
			font-weight: 500;
			color: #ffffff;

			@include line-decor-hover;

			@media screen and (max-width: 767px) {
				font-size: em(12);
			}
		}
	}
}


.logo {
	font-size: em(27);
	font-weight: bold;
	display: block;
	color: #ffffff;
	margin-right: em(-20);

	@media screen and (max-width: 767px) {
		font-size: 19px;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
	}

	&:hover {
		text-decoration: none;
		color: #ffffff;
	}

	&__bottom {
		font-size: em(9.48);
		margin-bottom: 0;

		@media screen and (max-width: 767px) {
			font-size: 11px;
		}
	}

	&--blue {
		color: #00b2f0;
	}

	&--upcase {
		line-height: em(22);
		text-transform: uppercase;
	}
}



.social-link {
	display: block;
	width: em(40);
	height: em(40);
	border-radius: 50%;

	@media screen and (max-width: 767px) {
		width: 24px;
		height: 24px;
		background-size: 15px;
	}
}


.tg {
	background: url("../img/telegram.png") no-repeat 50% / contain;
}

.fb {
	background: url("../img/facebook.png") no-repeat 50% / contain;
}

.skype {
	background: url("../img/skype.png") no-repeat 50% / contain;
}

.vk {
	background: url("../img/vk.png") no-repeat 50% / contain;
}

.wp {
	background: url("../img/whatsapp.png") no-repeat 50% / contain;
}

.sht {
	background: url("../img/shout.png") no-repeat 50% / contain;
}


.head-block {
	padding-top: 200px;
	color: #ffffff;

	@media screen and (max-width: 767px) {
		padding-top: 130px;
	}

	.container {
		height: em(609);
		// background: url(../img/bg/head-bg.png) no-repeat 50%;
		background-size: em(1111) em(609);

		@media screen and (max-width: 767px) {
			height: auto;
			background: none;
		}
	}

	&__laptop {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		width: em(406);
		margin-left: em(100);
		cursor: pointer;
		transition: ease-in-out .75s;
		animation-duration: .2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		// animation-direction: alternate;\
		&:hover {
			animation-name: cat;
		}

		@media screen and (max-width: 767px) {
			width: 174px;
			margin: 0 auto;
			margin-top: 0px;
		}
	}

	&__content {
		padding-left: em(60);

		@media screen and (max-width: 767px) {
			padding-left: 0;
		}
	}

	&__title {
		font-size: em(36);
		font-weight: bold;
		line-height: lh(44,36);
		margin-right: em(-20);
		margin-bottom: em(10);
		text-transform: uppercase;
		color: #ffffff;

		@media screen and (max-width: 767px) {
			font-size: 21px;
			line-height: lh(26,21);
			margin: 0;
			margin-top: 30px;
			margin-bottom: 20px;
			text-align: center;

			br {
				display: none;
			}
		}

		&--blue {
			color: #00b2f0;
		}
	}

	&__desc {
		font-size: em(24);
		line-height: lh(26,24);
		max-width: em(300);
		margin-bottom: em(15);

		@media screen and (max-width: 767px) {
			font-size: 14px;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	&__btn-2 {
		margin-top: em(70);

		@media screen and (max-width: 767px) {
			margin: 30px auto !important;
		}
	}


}

@keyframes cat {
	0% {
		left: 0;
	}
	33% {
		left: .2em;
	}
	66% {
		left: -.2em;
	}
	100% {
		left: 0;
	}
}

.btn-2 {
	font-size: em(14);
	font-weight: bold;
	display: block;
	width: 100%;
	transition: all .2s ease;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border: 1px solid #ffffff;



	@media screen and (max-width: 767px) {
		font-size: 10px;
		margin: 30px 0;
	}


	&:hover {
		text-decoration: none;
		color: #ffffff;
		border: 1px solid #ffffff;
		box-shadow: 0 0 50px -5px rgba(0, 187, 255, .8);
		background: rgba(0, 187, 255, .5);
	}

	&--default {
		line-height: 4.071em;
		max-width: 17.429em;
		height: 4.071em;
		border-radius: 2.071em;
	}

	&--default-big {
		font-size: em(16);
		line-height: em(68);
		max-width: em(292);
		height: em(68);
		border-radius: em(34);

		@media screen and (max-width: 767px) {
			font-size: 10px;
		}
	}

	&--default-blue {
		transition: all .2s ease;
		border: 1px solid #367bfe;
		background: linear-gradient(to right, #3679fe, #388aff, #3a9aff);

		&:hover {
			border: 1px solid #ffffff;
			background: none;
		}
	}
}


.border-bottom-2 {
	margin-bottom: em(60);
	padding-bottom: em(60);
	border-bottom: 1px solid #0b1c38;

	@media screen and (max-width: 767px) {
		margin-bottom: em(20);
		padding-bottom: em(20);
	}
}

.line {
	position: relative;

	&:after {
		position: absolute;
		bottom: em(-70);
		left: 48%;
		display: block;
		width: em(7);
		height: em(150);
		content: "";
		border-radius: em(3);
		background: linear-gradient(to bottom, #022141, #022b4d, #015a86, #00a3dd, #00b2f0);

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}


.section-title {
	position: relative;
	margin-bottom: em(40);
	padding-left: em(214);
	text-align: left;

	@media screen and (max-width: 767px) {
		margin-bottom: 20px;
		padding-left: 15px;
	}


	&:before {
		position: absolute;
		top: 50%;
		left: em(15);
		display: block;
		width: em(150);
		height: em(7);
		content: "";
		border-radius: em(3);
		background: linear-gradient(to right, #011326, #022b4d, #015a86, #00a3dd, #00b2f0);

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__text {
		font-size: em(62);
		font-weight: bold;
		line-height: normal;
		margin-bottom: 0;
		padding-bottom: em(0);
		color: #ffffff;

		@media screen and (max-width: 767px) {
			font-size: em(24);
		}
	}


	&--right {
		padding-right: em(214);
		padding-left: 0;
		text-align: right;

		@media screen and (max-width: 767px) {
			padding-right: 10px;
		}

		.section-title__text {
			padding-bottom: em(3);
		}

		&:before {
			right: em(15);
			left: auto;
			background: linear-gradient(to left, #011326, #022b4d, #015a86, #00a3dd, #00b2f0);
		}
	}
}




.about {
	margin-top: em(220);
	margin-bottom: em(50);

	@media screen and (max-width: 767px) {
		margin-top: 40px;
	}

	&__content {
		padding-left: em(110);
		color: #ffffff;

		@media screen and (max-width: 767px) {
			padding-left: 15px;
		}
	}

	&__desc {
		font-size: em(26);
		line-height: lh(32,26);
		margin-bottom: 1.346em;

		@media screen and (max-width: 767px) {
			font-size: 14px;
		}
	}

	&__list {
		li {
			max-width: em(930);
			margin-bottom: em(20);

			@media screen and (max-width: 767px) {
				margin-bottom: 12px;
			}
		}

		p {
			font-size: em(26);
			line-height: lh(32,26);
			color: #ffffff;

			@media screen and (max-width: 767px) {
				font-size: 14px;
			}
		}
	}
}

.style-disk {
	li {
		position: relative;
		padding-left: em(45);

		@media screen and (max-width: 767px) {
			padding-left: 20px;
		}

		&:after {
			position: absolute;
			top: em(13);
			left: 0;
			display: block;
			width: em(11);
			height: em(11);
			content: "";
			border-radius: 50%;
			box-shadow: 0 0 em(20) em(1) #d3eb6a;
			background-color: #d3eb6a;

			@media screen and (max-width: 767px) {
				width: 7px;
				height: 7px;
				top: 7px;
			}
		}
	}
}


.why-we {
	margin-top: em(215);
	color: #ffffff;

	@media screen and (max-width: 767px) {
		margin-top: em(30);
	}

	&__row {
		margin: em(50) 0;

		@media screen and (max-width: 767px) {
			margin: 0;
			margin-bottom: 30px;
		}
	}

	&__num-wrap {
		max-width: em(187);

		@media screen and (max-width: 767px) {
			max-width: 128px;
			margin-bottom: 30px;
		}

		img {
			max-width: 100%;
		}
	}

	&__title {
		font-size: em(24);
		font-weight: bold;
		line-height: lh(32,24);
		margin-bottom: em(5);
		text-transform: uppercase;
		color: #ebe9e9;

		@media screen and (max-width: 767px) {
			font-size: em(14);
			margin-bottom: 15px;
		}
	}

	&__desc {
		font-size: em(26);
		line-height: lh(24,26);
		max-width: 19.231em;
		color: #7c94b7;

		@media screen and (max-width: 767px) {
			font-size: em(14);
		}
	}

	&__content {
		padding-bottom: 0;

		@media screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}
}


.wherefore {
	margin-top: em(150);

	@media screen and (max-width: 767px) {
		margin-top: 40px;
	}

	&__content {
		margin-top: em(80);

		@media screen and (max-width: 767px) {
			margin-top: 10px;
		}
	}
}

.wherefore-item {
	display: flex;
	margin-bottom: em(50);

	@media screen and (max-width: 767px) {
		flex-flow: column;
		margin-bottom: 15px;
	}


	&__desc {
		margin-bottom: em(20);
		padding-right: em(60);

		@media screen and (max-width: 767px) {
			padding-right: 0;
		}
	}

	.item-ico {
		width: em(144);
		height: em(144);

		@media screen and (max-width: 767px) {
			width: 102px;
			height: 102px;
			margin: 0;
		}

		img {
			max-width: 50%;

			@media screen and (max-width: 767px) {
				max-width: 50%;
			}
		}
	}

	&__content {
		padding-left: em(45);
		@media screen and (max-width: 767px) {
			padding-left: 0;
		}
	}

	&__head {
		max-width: em(300);

		@media screen and (max-width: 767px) {
			margin: 20px 0;
		}
	}
}

.item-title {
	font-size: em(22);
	font-weight: 500;
	margin-bottom: em(10);
	color: #ebe9e9;

	@media screen and (max-width: 767px) {
		font-size: 16px;
		margin-bottom: 10px;
		padding-left: 15px;
		text-align: left;

	}
}

.item-desc {
	font-size: em(20);
	line-height: lh(20,20);
	color: #7c94b7;

	@media screen and (max-width: 767px) {
		font-size: 14px;
		padding-left: 15px;
		text-align: left;
	}
}

.item-ico {

	width: em(125);
	height: em(125);
	margin: 0 auto;
	border: em(8) solid rgba(#081830, 0.72);
	border-radius: 50%;
	background: #0b1c38;

	@media screen and (max-width: 767px) {
		margin: 0px auto;
		margin-bottom: 20px;
	}

	img {
		align-self: center;
		flex-shrink: 0;
		max-width: 45%;
		width: auto;
		height: auto;
	}
}


.whom {
	margin-top: em(215);

	@media screen and (max-width: 767px) {
		margin-top: 20px;
	}

	&__content {
		display: flex;
		padding-top: em(65);
		padding-bottom: em(90);
		text-align: center;

		@media screen and (max-width: 767px) {
			padding-top: 0;
			padding-bottom: 0;
			border: none;
		}
	}

	.item-ico {
		position: relative;
		margin-bottom: em(10);

		@media (max-width: 767px) {
			margin-top: 117px;
			margin-bottom: 30px;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: em(128);
			display: block;
			width: em(185);
			height: em(3);
			content: "";
			background: #009dd6;

			@media (max-width: 767px) {
				height: em(90);
				width: em(3);
				left: 50%;
				top: em(-110);
			}
		}

		&:nth-child(3) {
			&:before {
				display: none;
			}
		}


		&--first-line {

			@media (max-width: 767px) {
				margin-top: 150px;
			}

			&:before {
				background: linear-gradient(to right, #011224, #00668f, #009dd6);

				@media (max-width: 767px) {
					height: em(136);
					width: em(3);
			  	background: linear-gradient(to bottom, #011224, #00668f, #009dd6);
					top: em(-155);
					left: 50%;
				}
			}
		}

		&--third-line {
			&:before {
				display: none;
				@media (max-width: 767px) {
					display: block;
				}
			}
		}

		&--last-line {

			@media (max-width: 767px) {
				margin-top: em(160);
			}
			&:before {
				right: em(128);
				left: auto;
				background: linear-gradient(to left, #011224, #00668f, #009dd6);

				@media (max-width: 767px) {
					height: em(136);
					width: em(3);
					background: linear-gradient(to top, #011224, #00668f, #009dd6);
					top: em(-155);
					left: 50%;
					right: auto;
				}
			}
		}
	}

	&__btn-2 {
		@media (max-width: 767px) {
			background: none;
			border-color: #fff;
		}	
	}
}



.whom-item {
	position: relative;

	&__content {
		padding: 0 em(20);

		@media screen and (max-width: 767px) {
			position: static;
			padding-left: 10px;
			padding: 0 em(15);
		}

		&--right {
			top: em(60);
			left: 60%;
		}

		&--left {
			top: em(60);
			right: 60%;
			text-align: right;
		}

		.whom-item__title,
		.whom-item__desc {
			@media screen and (max-width: 767px) {
				padding: 0;
			}
		}

		&.mob-right {
			@media screen and (max-width: 767px) {
				.whom-item__title,
				.whom-item__desc {
					text-align: right;
				}
			}
		}
	}
}


.semi-bold {
	font-weight: bold;
}



.geography {
	margin-top: em(120);

	@media screen and (max-width: 767px) {
		margin-top: 50px;
	}

	&__content {
		position: relative;
		margin-top: em(100);

		@media screen and (max-width: 767px) {
			font-size: 7px;
		}

		@media screen and (max-width: 480px) {
			font-size: 16px;
			right: 210px;
			margin-top: -80px;
			margin-bottom: -100px;
			transform: scale(.5);
		}

		.map-point {
			position: absolute;


			&--1 {
				top: em(48);
				left: em(414);
			}

			&--2 {
				top: em(141);
				left: em(143);
			}

			&--3 {
				top: em(177);
				left: em(183);
			}

			&--4 {
				top: em(362);
				left: em(303);
			}

			&--5 {
				top: em(157);
				left: em(664);
			}

			&--6 {
				top: em(234);
				left: em(664);
			}

			&--7 {
				top: em(208);
				left: em(847);
			}

			&--8 {
				top: em(291);
				left: em(558);
			}

			&--9 {
				top: em(441);
				left: em(962);
			}
		}
	}
}

.geography-map {
	width: em(1135);

	@media screen and (max-width: 767px) {
		margin: 0 auto;
	}
}

.map-point {
	position: relative;
	display: block;
	width: em(22);
	height: em(22);
	border-radius: 50%;

	&:after {
		position: absolute;
		top: em(2);
		left: em(2);
		display: block;
		width: em(18);
		height: em(18);
		content: "";
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: reverse;
		border-radius: 50%;
		background: #c3e049;
	}
	&--1::after {
		animation-name: map-point;
	}
	&--2::after {
		animation-name: map-point;
		animation-delay: .2s;
	}
	&--3::after {
		animation-name: map-point;
		animation-delay: 1s;
	}
	&--4::after {
		animation-name: map-point;
		animation-delay: 1.4s;
	}
	&--5::after {
		animation-name: map-point;
		animation-delay: 2s;
	}
	&--6::after {
		animation-name: map-point;
		animation-delay: 2.2s;
	}
	&--7::after {
		animation-name: map-point;
		animation-delay: 3s;
	}

	&--8::after {
		animation-name: map-point;
		animation-delay: 3.3s;
	}
	&--9::after {
		animation-name: map-point;
		animation-delay: 3.9s;
	}
}

@keyframes map-point {
	0% {
		background: #c3e049;
	}
	90% {
		background: #c3e049;
	}
	100% {
		background-color: #011226;
	}
}


.working {
	margin-top: em(205);

	@media screen and (max-width: 767px) {
		margin-top: 50px;
	}

	.section-title {
		margin-bottom: em(10);

		@media screen and (max-width: 767px) {
			text-align: right;
		}
	}

	&__desc {
		font-size: em(26);
		line-height: lh(32,26);
		padding-left: em(135);
		color: #7c94b7;

		@media screen and (max-width: 767px) {
			display: block;
			width: 100%;
			font-size: em(12);
			font-weight: bold;
			padding-right: 0px;
			padding-left: 15px;
			text-align: right;
		}

		&--upcase {
			text-transform: uppercase;
		}
	}

	&__content {
		margin: 0 auto;
		margin-top: em(70);
		margin-bottom: em(30);

		@media screen and (max-width: 767px) {
			margin: 20px 0;
			padding: 0 15px;
		}
	}

	.border-bottom-2 {
		border-bottom: 1px solid #354559;

		@media screen and (max-width: 767px) {
			padding-bottom: 20px;
			border: none;
		}
	}

	&__desc-p-block {
		margin-top: em(70);

		@media screen and (max-width: 767px) {
			margin-top: 0;
			
		}
	}

	&__desc-p {
		font-size: em(26);
		line-height: lh(32,26);
		margin-bottom: em(20);
		padding-left: em(80);

		@media screen and (max-width: 767px) {
			font-size: 14px;
			line-height: 16px;
			padding-left: 0;
		}
	}
}

.working-item {
	width: 25%;
	margin: 0 em(10);

	@media screen and (max-width: 767px) {
		width: 100%;
		margin-bottom: 20px;
	}

	&__head {
		margin-bottom: em(30);
	}

	&__desc {
		font-size: em(18);
		max-width: em(200);

		@media screen and (max-width: 767px) {
			font-size: em(14);
			max-width: 100%;
			text-align: left;
			padding-left: 0;
		}
	}

	.item-ico {
		position: relative;
		margin-left: em(40);

		@media screen and (max-width: 767px) {
			margin: 20px auto;
		}

		img {
			max-width: 33%;
			align-self: center;
		}

		&:before {
			position: absolute;
			top: 50%;
			right: em(-137);
			display: block;
			width: em(115);
			height: em(3);
			content: "";
			background: #009dd6;

			@media screen and (max-width: 767px) {
				display: none;
			}
		}

		&--first-line {
			&:before {
				background: linear-gradient(to right, #011224, #00668f, #009dd6);
			}
		}

		&--last-line {
			&:before {
				background: linear-gradient(to left, #011224, #00668f, #009dd6);
			}
		}

		&--no-line {
			&:before {
				display: none;
			}
		}
	}
}

.working-diagram {
	width: 100%;
	max-width: em(1284);
	margin: 0 auto;
	margin-top: em(50);
}


.architecture {
	margin-top: em(120);

	@media screen and (max-width: 767px) {
		margin-top: 50px;
	}

	&__desc-block {
		max-width: em(1000);
		margin-left: em(95);

		@media screen and (max-width: 767px) {
			margin-left: 15px;
		}
	}

	&__desc {
		font-size: em(24);
		line-height: lh(24,24);
		color: #ffffff;
		&:last-child {
			margin-bottom: em(50);
		}

		@media screen and (max-width: 767px) {
			font-size: em(14);
		}
	}
}

.architecture-img {
	width: em(954);
	max-width: 100%;
	height: auto;

	@media screen and (max-width: 767px) {
		padding: 0 10px;
	}
}

.reviews {
	margin-top: em(120);

	@media screen and (max-width: 767px) {
		margin-top: 20px;
	}

	&__content {
		margin-top: em(90);
	}
}

.slider-wrap {
	max-width: em(1040);
	margin: 0 auto;
	margin-bottom: em(50);
	padding-top: em(110);
	padding-bottom: em(60);
	box-shadow: 0 0  60px 0 rgba(0, 0, 0, .5);
	background: rgba(1, 21, 44, .71);

	@media screen and (max-width: 767px) {
		margin-bottom: 0;
		padding-top: 20px;
	}
}

.rewiew-photo {
	width: em(210);
	height: em(210);
	margin: 0 auto;
	padding: em(5);
	border-radius: 50%;
	background: linear-gradient(to right,#04ff2d 0,#2bafc9 70%);
	background-color: red;

	@media screen and (max-width: 767px) {
		width: 180px;
		height: 180px;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}

.slider-photo {
	position: relative;
	z-index: 2;
	max-width: em(700);
	margin: 0 auto;

	&:before,
	&:after {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: em(-55);
		display: block;
		width: em(105);
		height: 2px;
		content: "";
		background: #c6c6c6;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&:after {
		right: em(-55);
		left: auto;
	}

	.slick-list {
		z-index: 5;
		padding: 0 !important;
	}

	.slide {
		position: relative;
		padding-top: em(40);


		.rewiew-photo {
			transition: all .3s ease-in-out;
			transform: scale(.55);

			@media screen and (max-width: 767px) {
				transform: scale(1);
			}
		}


		&.slick-active {
			&:before,
			&:after {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: em(-47);
				display: block;
				width: em(45);
				height: 2px;
				content: "";
				transition: opacity .2s ease;
				opacity: 0;
				background: #c6c6c6;

				@media screen and (max-width: 767px) {
					display: none;
				}
			}

			&:after {
				right: em(-45);
				left: auto;
			}
		}




		&.slick-active.slick-center {
			position: relative;

			.rewiew-photo {
				transform: scale(1);
			}

			&:before,
			&:after {
				opacity: 1;
			}

			.rewiew-order {
				opacity: 1;
				color: #ffffff;
			}
		}
	}
}

.rewiew-order {
	font-size: em(28);
	margin-top: em(8);
	transition: opacity .2s ease;
	text-align: center;
	opacity: 0;
}

.slider-text {
	margin-top: em(30);

	.slick-list {
		padding: 0 !important;
	}

	a {
		display: block;
		height: 100%;
		color: #ffffff;

		&:hover {
			color: #ffffff;
		}
	}
}



.rewiew {
	&__title {
		font-size: em(36);
		font-weight: bold;
		margin-bottom: .833em;
		text-align: center;
		color: #ffffff;

		@media screen and (max-width: 767px) {
			font-size: em(24);
		}

		a {
			font-weight: bold;
			margin-bottom: .833em;
			text-align: center;
			color: #ffffff;
		}
	}

	&__desc {
		font-size: em(29);
		line-height: lh(31,29);
		margin: 0 auto;
		padding: 0 2.759em;
		text-align: center;
		color: #ffffff;

		@media screen and (max-width: 767px) {
			font-size: em(14);
		}
	}
}

.forums {
	margin-top: em(230);

	@media screen and (max-width: 767px) {
		margin-top: 70px;
	}

	.section-title {
		margin-bottom: em(90);

		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	&__btn-2 {
		@media screen and (max-width: 767px) {
			background: none;
			border-color: #fff;
		}
	}

	.border-bottom-3 {
		@media screen and (max-width: 767px) {
			padding: 0;
			margin: 0;
			border-bottom: none;
		}
	}
}

.forums-slider-wrap {
	display: none;
	max-width: 300px;
	margin: 0 auto;

	@media screen and (max-width: 767px) {
		display: block;
	}
}


.border-bottom-3 {
	margin-bottom: em(50);
	padding-bottom: em(80);
	border-bottom: 1px solid #0b1c38;

	@media screen and (max-width: 767px) {
		margin-bottom: em(20);
		padding-bottom: em(20);
	}
}

.forum {
	display: flex;
	margin: 0 em(60);
	color: #ffffff;

	flex-flow: column;
	align-items: center;

	&:hover {
		text-decoration: none;
		color: #fff;

		.forum__desc {
			text-decoration: underline;
		}
	}

	&__desc {
		font-size: em(26);
		font-weight: bold;
		line-height: lh(36,26);
		margin-top: em(19);
		color: #ffffff;

		@media screen and (max-width: 767px) {
			margin-top: 10px;
		}
	}

	&__slide-of {
		font-size: 28px;
		text-align: center;
		margin-top: em(5);
		display: none;

		@media screen and (max-width: 767px) {
			display: block;
		}
	}
}


.forum-photo {
	position: relative;
	width: em(136);
	min-height: 1px;

	@media screen and (max-width: 767px) {
		width: 181px;
	}

	img {
		width: 100%;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: em(162);
		display: block;
		width: em(138);
		height: em(3);
		content: "";
		background: #009dd6;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&--first-line {
		&:before {
			background: linear-gradient(to right, #011224, #00668f, #009dd6);
		}
	}

	&--third-line {
		&:before {
			display: none;
		}
	}

	&--last-line {
		&:before {
			right: em(162);
			left: auto;
			background: linear-gradient(to left, #011224, #00668f, #009dd6);
		}
	}
}




.rates {
	margin-top: em(165);

	@media screen and (max-width: 767px) {
		margin-top: 30px;
	}

	&__content {
		display: flex;
		margin-top: em(80);

		justify-content: center;

		@media screen and (max-width: 767px) {
			margin-top: 70px;
	
		}
	}
}

.rate-item {
	position: relative;
	display: flex;
	max-width: em(440);
	width: 100%;
	align-self: center;
	margin-bottom: em(20);
	padding: em(40);
	border-radius: em(15);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
	background: linear-gradient(-180deg,#07203d 0, #021227 100%);
	flex-flow: column nowrap;


	@media screen and (max-width: 767px) {
		margin-bottom: 80px;
		padding: 30px 15px;
	}

	&__property {
		position: absolute;
		top: 0;
		left: 50%;
		display: inline-flex;
		padding: em(9) em(12);
		transform: translate(-50%, -50%);
		white-space: nowrap;
		color: #ffffff;
		border-radius: em(20);
		background-color: #f37d47;

		align-items: center;
		justify-content: center;

		img {
			display: inline-block;
			width: em(16);
			margin-right: em(8);
		}

		span {
			font-size: em(14);
		}
	}

	&__title {
		font-size: em(30);
		font-weight: bold;
		line-height: lh(17,18);
		position: relative;
		margin-top: em(7);
		margin-bottom: em(20);
		padding-bottom: em(8.5);
		text-align: center;
		color: #ffffff;

		@media screen and (max-width: 767px) {
			font-size: 25px;
		}

		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			display: block;
			width: em(60);
			height: 1px;
			content: "";
			transform: translate(-50%, 0);
			background: #4089d8;
		}
	}

	&__list {
		margin-top: em(20);
		margin-bottom: em(40);

		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}

		li {
			margin-bottom: em(15);
			position: relative;
			padding-left: em(18);

			@media screen and (max-width: 767px) {
				padding-left: 0;
			}

			&:after {
				content: "";
				display: block;
				width: em(5);
				height: em(5);
				border-radius: 50%;
				position: absolute;
				top: em(5);
				left: 0;
				background: #e8e8e8;

				@media screen and (max-width: 767px) {
					display: none;
				}
			}
		}
	}

	&__desc {
		font-size: em(14);
		line-height: lh(17,14);
		position: relative;
		color: #7c94b7;

		@media screen and (max-width: 767px) {
			br {
				display: none;
			}
		}

	}

	&__btn-2 {
		font-size: em(13);
		margin: 0 auto;
		max-width: em(270);
		width: 100%;
		height: em(62);
	}

	&__price-wrap {
		line-height: 1;
		display: flex;
		padding: em(13) em(30);
		padding-top: em(8);
		text-align: center;
		border-radius: em(50);
		background: linear-gradient(to right,#16da76, #21c3a2, #2bafc8);

		align-self: center;
		align-items: center;
		justify-content: center;

		&--no-gb {
			background: none;
			margin-top: em(5);

			.rate-item__price {
				font-size: em(16);

				span {
					&:first-child {
						font-size: em(37);
						margin-right: em(-2);
					}

					&:last-child {
						font-size: em(25);
					}
				}
			}


		}
	}

	&__price {
		font-size: em(19);
		color: #ffffff;
		text-shadow: 0 0 20px rgba(0, 0, 0, .3);
		span {
			font-weight: bold;

			&:first-child {
				font-size: em(37);
				margin-right: em(-3);

				@media screen and (max-width: 767px) {
					margin-right: -2px;
				}
			}

			&:last-child {
				font-size: em(25);
			}
		}
	}

	.flags {
		display: inline-flex;

		@media screen and (max-width: 767px) {
			margin-top: 3px;
		}

		img {
			display: inline-block;
			width:  em(25.375);
			position: relative;
			margin-left: em(8);
			margin-top: em(-10);
			top: em(5);

			@media screen and (max-width: 767px) {
				margin: 0;
				margin-right: 8px;
				width: 29px;
			}

			
		}
	}
}


.partners {
	margin-top: em(200);
	margin-bottom: em(220);

	@media screen and (max-width: 767px) {
		margin-top: 0px;
		margin-bottom: 0;
	}

	&__content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 em(50);

		@media screen and (max-width: 767px) {
			flex-flow: column;
			margin-top: 30px;
			padding: 0;
		}
	}

	&__logo {
		display: block;
		margin: 0 em(20);


		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}

		img {
			max-width: 100%;
		}

		&:hover {
			opacity: .85;
		}
	}	


}

.partners-2 {
	width: em(218);

	@media screen and (max-width: 767px) {

	}
}
.partners-3 {
	width: em(39);

	@media screen and (max-width: 767px) {

	}
}
.partners-4 {
	width: em(94);

	@media screen and (max-width: 767px) {

	}
}
.partners-5 {
	width: em(162);

	@media screen and (max-width: 767px) {

	}
}
.partners-6 {
	width: em(193);

	@media screen and (max-width: 767px) {
		width: 193px;
	}
}
.partners-7 {
	width: em(169);

	@media screen and (max-width: 767px) {

	}
}




.footer {
	width: 100%;
	margin-top: em(60);
	padding: em(60) 0;
	color: #ffffff;
	box-shadow: 0 0 em(40) 0 rgba(0, 0, 0, .5);
	background: #01152c;

	@media screen and (max-width: 767px) {
		position: static;
		margin-top: 60px;
		background: #01152c;
		padding-top: 40px;
		padding-bottom: 35px;
	}

	.left-footer {
		padding-left: em(155);

		@media screen and (max-width: 767px) {
			padding-left: 0;
			margin-top: 40px;
		}
	}

	.right-footer {
		max-width: em(585);
		padding-right: em(162);

		@media screen and (max-width: 767px) {
			padding-right: 0;
		}

	}

	&__block-title {
		font-size: em(18);
		font-weight: 500;
		margin-bottom: 1.667em;

		&--2 {
			font-size: em(16);
			margin-bottom: em(20);
		}
	}

	.social-links {
		margin-bottom: em(12);
		@media screen and (max-width: 767px) {
			margin-right: -10px;
		}
	}

	.social-link {
		margin-right: em(12);

		@media screen and (max-width: 767px) {
			width: 40px;
			height: 40px;
		}
		
	}

	.contacts {
		&__link {
			font-size: em(16);
			line-height: 1.5;
			display: block;
			color: #ffffff;
		}
	}
}

.payment {
	margin-top: em(30);

	&__title {
		font-weight: 500;
		margin-bottom: em(15);

		@media screen and (max-width: 767px) {
			margin: 25px 0;
		}
	}

	.payment-wrap {
		max-width: em(300);
	}
}

.payment-link {
	display: flex;
	width: em(53);
	height: em(53);
	margin-right: em(15);
	margin-bottom: em(15);
	transition: background .2s ease;
	border: 1px solid #ffffff;
	border-radius: 50%;
	background: none;
	background: #ffffff;

	justify-content: center;
	align-items: center;

	&:hover {
		background: none;
	}

	span {
		display: block;
	}
}


.payment-sprite {
	display: block;
	background-image: url(../img/payments/payments-sprite.png);
	background-repeat: no-repeat;
	background-size: em(596);
}

.bitcoin {
	width: em(24);
	height: em(33);
	background-position: em(-39) em(-5);
}

.payment-link:hover .bitcoin {
	background-position: em(-5) em(-5);
}

.master-card {
	width: em(41);
	height: em(27);
	background-position: em(-124) em(-5);
}

.payment-link:hover .master-card {
	background-position: em(-73) em(-5);
}

.ppal {
	width: em(30);
	height: em(31);
	background-position: em(-215) em(-5);
}

.payment-link:hover .ppal {
	background-position: em(-175) em(-5);
}

.qiwi {
	width: em(32);
	height: em(32);
	background-position: em(-297) em(-5);
}

.payment-link:hover .qiwi {
	background-position: em(-255) em(-5);
}

.visa {
	width: em(43);
	height: em(14);
	background-position: em(-392) em(-5);
}

.payment-link:hover .visa {
	background-position: em(-339) em(-5);
}

.wm {
	width: em(30);
	height: em(30);
	background-position: em(-485) em(-5);
}

.payment-link:hover .wm {
	background-position: em(-445) em(-5);
}

.yad {
	width: em(28);
	height: em(32);
	background-position: em(-563) em(-5);
}

.payment-link:hover .yad {
	background-position: em(-525) em(-5);
}


.project-by {
	font-size: em(18);
	line-height: lh(24,18);
	margin-top: em(10);

	@media screen and (max-width: 767px) {
		font-size: em(14);
	}


	a {
		color: #ffffff !important;
	}
}

.copyright {
	margin-top: em(30);
}

.copyring {
	font-size: em(18);
	line-height: lh(24,18);

	a {
		color: #2bafc9 !important;
	}
}

.policy {
	font-size: em(18);
	line-height: lh(24,18);
	color: #ffffff !important;

}

.faq {
	

	&__title {
		font-size: em(24);
		line-height: lh(30,24);
		text-align: center;
	}

	&__desc {
		font-size: em(18);
		line-height: lh(30,18);
		margin-top: em(10);
		text-align: center;

		@media screen and (max-width: 767px) {
			font-size: em(16);
			line-height: 12px;
			margin: 30px 0;
		}
	}

	&__desc-2 {
		font-size: em(16);
		line-height: lh(18,16);
		padding: em(25) em(15);
		text-align: center;

		@media screen and (max-width: 767px) {
			font-size: em(14);
			text-align: left;
			br {
				display: none;
			}
		}
	}

	&__content {
		margin-top: em(15);

		@media screen and (max-width: 767px) {
			padding: 0;
		}
	}

	&__btn-2 {
		font-size: em(9);

		@media screen and (max-width: 767px) {
			font-size: em(10);
			margin: 10px auto;
		}
	}
}

.faq-ul {
	padding: em(15) em(32);
	padding-bottom: em(42);
	border-radius: em(8);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
	background: #09213d;


	@media screen and (max-width: 767px) {
		padding: 15px 10px;
		padding-bottom: 50px;
	}

	&__title {
		min-height: em(40);
		padding: em(10) 0;
		cursor: pointer;
		border-bottom: 1px solid #1d344e;

		@media screen and (max-width: 767px) {
			font-size: 16px;
		}
	}


	&__desc {
		font-size: .875em;
		line-height: 1;
		margin-top: em(10);
		padding: em(15) em(20) !important;
		cursor: default !important;
		border: none;
		border-radius: 10px;
		background: #2b4b70;
		display: none;

		@media screen and (max-width: 767px) {
			font-size: 14px;
		}


	}

	&__li {
		&:first-child {
			
			.faq-ul__desc {
				display: block;
			}
		}
	}

	a {
		color: #ffffff;

		&:hover {
			color: #ffffff;
		}
	}
}


.modal {
	&-header {
		margin-bottom: 0px;
	}
	&-title {
		font-size: 20px;
		width: 100%;
		text-align: center;
		color: #333333;
	}
	.close {
		position: absolute;
		top: 16px;
		right: 16px;
		color: #333333;
		border: none;
		outline: none;
	}
	&-subtitle {
		font-size: 16px;
		line-height: 20px;
		display: block;
		width: 100%;
		max-width: 260px;
		margin: 0 auto 20px;
		text-align: center;
		color: #00b2f0;
	}
	input {
		display: block;
		width: 100%;
		max-width: 300px;
		height: 60px;
		margin: 0 auto 20px;
		padding: 0 15px;
		border: none;
		background-color: #eff1fb;
	}
	button {
		cursor: pointer;
		color: #00b2f0;
		border: 1px solid #00b2f0;
		outline: none;
		background-color: transparent;
	}
}

.cat-go {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	width: 15%;
	height: 25%;
	@media (max-width: 1210px) {
		display: none;
	}
	&__img {
		position: fixed;
		top: 50%;
		left: - em(650);
		display: block;
		width: em(600);
		max-width: 100%;
		transform: rotate(0deg);
		&.active {
			animation: cat-go 4s linear;
		}
	}
}

@keyframes cat-go {
	0% {
		top: 50%;
		left: - em(650);
	}
	20% {
		top: 10%;
		left: 0%;
	}
	30% {
		top: 20%;
		left: 10%;
	}
	50% {
		top: 40%;
		left: 30%;
	}
	70% {
		top: 20%;
		left: 50%;
	}
	100% {
		top: 40%;
		left: 100%;
	}
}


.container {
	@media (min-width: 1921px) {
		max-width: 1300px !important;
	}
}
