@import '~font-awesome/scss/font-awesome';

@import "~simple-line-icons/scss/simple-line-icons";

@import "colors";

@import "~@coreui/coreui/scss/coreui";

@import "~@coreui/icons/scss/coreui-icons";

@import "~pace-progress/themes/orange/pace-theme-minimal.css";

@import "~bootstrap-select/sass/bootstrap-select";

@import "~flag-icon-css/sass/flag-icon";

.clearfix:before, 
.clearfix:after, 
.dl-horizontal dd:before, 
.dl-horizontal dd:after, 
.container:before, 
.container:after, 
.container-fluid:before, 
.container-fluid:after, 
.row:before, .row:after, 
.form-horizontal .form-group:before, 
.form-horizontal .form-group:after, 
.btn-toolbar:before, 
.btn-toolbar:after, 
.btn-group-vertical>.btn-group:before, 
.btn-group-vertical>.btn-group:after, 
.nav:before, 
.nav:after, 
.navbar:before, 
.navbar:after, 
.navbar-header:before, 
.navbar-header:after, 
.navbar-collapse:before, 
.navbar-collapse:after, 
.pager:before, 
.pager:after, 
.panel-body:before, 
.panel-body:after, 
.modal-footer:before, 
.modal-footer:after{
    display: table;
    content: " ";
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

@media (min-width: 768px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
}

.cursor-default { 
  cursor: default !important;
}

.payment-method-logo {
  height: 100px;
}

.switch-language {
  margin-bottom: 0;
}
.switch-language .switch-slider,
.switch-language .switch-slider::before {
  border-color: #73818f;
}

.switch-language .switch-slider::after,
.switch-language .switch-input:checked ~ .switch-slider::after {
  color: #73818f;
}



.main {
  background-color: #fff;
}

.card {
  border: none;
}

.card-header {
  background-color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #eff2f7;
}

.sidebar .nav-link .nav-icon {
  color: #fff;
}
.sidebar .nav-item {
  margin-bottom: 2px;

}
.sidebar .nav-link {
  font-weight: bold;
  border-radius: 4px;
  padding: 9px 10px;
  color: #fff;
}
.sidebar .nav-link:hover {
  color: rgb(32, 60, 244);
  background-color: rgb(255, 255, 255);
}

.sidebar .nav-link:hover .nav-icon {
  color: rgb(32, 60, 244);
}

.sidebar .nav-link.active {
    color: #fff;
    background: #ff6c00;
}

.sidebar .nav-link.active .nav-icon {
  color: #fff;
}

.sidebar-nav ul.nav {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5fafe;
}

.sidebar-minimizer.brand-minimizer {
  display: none;
}

.sidebar-minimized .sidebar .nav-item:hover {
   color: #fff;
    background: #ff6c00;
}

.sidebar-minimized .sidebar .nav-item {
  border-radius: 4px;
}

.sidebar-minimized .sidebar .nav-link.active:hover {
  color: #fff;
  background: #ff6c00 !important;
}
.sidebar-minimized .sidebar .nav-link.active:hover .nav-icon {
  color: #fff !important;
}

.sidebar-minimized .sidebar .nav-link:hover {
  color: #000;
  background-color: rgb(255, 255, 255) !important;
}

.sidebar-minimized .sidebar .nav-link:hover .nav-icon {
  color: #000 !important;
}

.sidebar-minimized .sidebar .nav-link .nav-icon {
    display: block;
    float: left;
    width: 40px;
    font-size: 18px;
}

.sidebar-minimized .sidebar .nav-item {
  width: 40px;
}
.sidebar-minimized .sidebar .sidebar-nav {
  width: 55px;
}

.sidebar-toggler-mobile {
  display: none;
}
.breadcrumb {
  margin-bottom: 0px;
}
.card-header {
  line-height: 24px;
}
.fa.near-select {
  color: #1b2a8d;
}
.dropdown-item.active, .dropdown-item:active {
  background-color:  #1b2a8d;
}
@media (max-width: 991px) {
  .sidebar-toggler {
    display: none;
  }

  .sidebar-toggler-mobile {
    display: block;
  }
}

.city-selector-wrapper {
  position:relative
}

.loading-cities {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.bootstrap-select {
  width: 100% !important;
}

.main {
    background: #f6fdff;
}

.main .container-fluid {
  padding: 30px;
}

.logo {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: #60d6ff;
    padding: 0 20px;
}

@media (max-width: 767px){
    .logo {
        display: none;
    }
}

.logo:hover{
    text-decoration: none;
    color: #60d6ff;
}

.logo--upcase {
    text-transform: uppercase;
}

.logo--blue {
    color: #00b2f0;
}

.app-header {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: none;
}

.app-header .navbar-brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 155px;
  height: 55px;
  padding: 0;
  margin-right: 0;
  background-color: transparent;
}

.app-header .navbar-brand .navbar-brand-minimized {
  display: none;
}

.app-header .navbar-toggler {
  min-width: 50px;
  padding: 0.25rem 0;
}

.app-header .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%232f353a' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.app-header .navbar-toggler-icon {
  height: 23px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.app-header .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-header .nav-item {
  position: relative;
  min-width: 50px;
  margin: 6px;
  text-align: center;
}

.app-header .nav-item button {
  margin-top: -4px;
}

.app-header .nav-item .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  background: 0;
  border: 0;
}

.app-header .nav-item .nav-link .badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
}

.app-header .nav-item .nav-link > .img-avatar,
.app-header .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
}

.app-header .dropdown-menu {
  padding-bottom: 0;
  line-height: 1.5;
}

.app-header .dropdown-item {
  min-width: 180px;
}

.navbar-nav .nav-link {
  color: #2bafc9;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #65e6ff;
}

.navbar-nav .open > .nav-link,
.navbar-nav .open > .nav-link:hover,
.navbar-nav .open > .nav-link:focus,
.navbar-nav .active > .nav-link,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:hover,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus {
  color: #2f353a;
}

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075);
}

@media (min-width: 992px) {
  .brand-minimized .app-header .navbar-brand {
    width: 50px;
    background-color: transparent;
  }

  .brand-minimized .app-header .navbar-brand .navbar-brand-full {
    display: none;
  }

  .brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
    display: block;
  }
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e4e7ea;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #697fa0;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #181b1e;
  text-decoration: none;
  background-color: #f6fdff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #00bbff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #73818f;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0 1.5rem;
  margin-bottom: 0;
  font-size: 0.765625rem;
  color: #73818f;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #697fa0;
}

.btn-light {
  color: #2bafc9;
  background-color: #fff;
}

.language-picker > .btn-light:hover, 
.language-picker > .btn-light:focus {
  color: #65e6ff;
  background-color: #fff;
  border-color: #fff; 
}

.language-picker.show > .btn-light{
    
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.355em;
    margin-top: 2px !important;
    vertical-align: 0.155em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-light:focus,
.btn-light.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #697fa0;
  background-color: #f0f3f5;
  border-color: #f0f3f5;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
}

.dropdown-item {
  position: relative;
  padding: 10px 20px;
}

.dropdown-item:last-child {
  border-bottom: 0;
}

.dropdown-item i {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  margin-left: -10px;
  color: #697fa0;
  text-align: center;
}

.dropdown-item .badge {
  position: absolute;
  right: 10px;
  margin-top: 2px;
}

.dropdown-header {
  padding: 8px 20px;
}

.dropdown-header .btn {
  margin-top: -7px;
  color: #73818f;
}

.fa.near-select{
    margin-right: -12px;
    z-index: 2;
    position: inherit;
    color: #2bafc9;
}

li.nav-item.with-select{
    padding-top: 4px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.sidebar .nav-dropdown-items .nav-item {
  padding: 0;
  list-style: none;
}

.sidebar .nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: #7c94b7;
  text-decoration: none;
  background: transparent;
}

.sidebar .nav-link .nav-icon {
  display: inline-block;
  width: 1.09375rem;
  margin: 0 0.5rem 0 0;
  
  color: #73818f;
  text-align: center;
}

.sidebar .nav-link .badge {
  float: right;
  margin-top: 2px;
}

.sidebar .nav-link.active {
  color: white;
  background: #00bbff;
}

.sidebar .nav-link.active .nav-icon {
  color: white;
}

.sidebar .nav-link:hover {
  color: #7c94b7;
  background: #fff;
}

.sidebar .nav-link:hover .nav-icon {
  color: #7c94b7;
}

.app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: hidden;
  margin-top: 0px;
}

@media (min-width: 768px){
    .app-body {
        margin-top: 55px;
    }
}

.app-body .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
  color: #697fa0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border: 1px solid #eff2f7;
}

.btn-success {
  color: #fff;
  background-color: #02648f;
  border-color: #02648f;
}

.btn-success:hover {
  color: #fff;
  background-color: #2bafc9;
  border-color: #2bafc9;
}

.btn-success:focus,
.btn-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #2bafc969;
          box-shadow: 0 0 0 0.2rem #2bafc969;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #4dbd74;
  border-color: #4dbd74;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #02648f;
  border-color: #02648f;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #2bafc969;
          box-shadow: 0 0 0 0.2rem #2bafc969;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  color: #697fa0;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
}

.table thead th {
  vertical-align: bottom;
}

.table thead th {
    border-bottom: none;
}

.table th, .table td {
    border-top: none;
}

.btn-as-link{
    color: #2bafc9;
    background: transparent;
    padding: 0 0.75rem;
}

.app-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    color: #697fa0;
    border-top: 1px solid #eff2f7;
    background-color: #fff;
}

@media (min-width: 768px){
    .form-horizontal .control-label {
        padding-top: 7px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: right;
    }
}

label{
    font-weight: bold;
}

.form-control{
    border: 2px solid #a6bcdc;
}

.top-panel{
    padding: 10px 0;
}