// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom
html, body {
  background-color: #fff;
  color: #41496f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 20px;
}

.content {
  text-align: center;
}

.sides-padding{
    padding-left: 15px;
    padding-right: 15px;
}

.no-sides-padding{
    padding-left: 0;
    padding-right: 0;
}

.no-bottom-top-padding{
    padding-top: 0;
    padding-bottom: 0;
}

.empty{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-style: italic;
}