
.sidebar .nav-link .nav-icon {
  color: #fff;
}
.sidebar .nav-item {
  margin-bottom: 2px;

}
.sidebar .nav-link {
  font-weight: bold;
  border-radius: 4px;
  padding: 9px 10px;
  color: #fff;
}
.sidebar .nav-link:hover {
  color: rgb(32, 60, 244);
  background-color: rgb(255, 255, 255);
}

.sidebar .nav-link:hover .nav-icon {
  color: rgb(32, 60, 244);
}

.sidebar .nav-link.active {
    color: #fff;
    background: #ff6c00;
}

.sidebar .nav-link.active .nav-icon {
  color: #fff;
}

.sidebar-nav ul.nav {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5fafe;
}

.sidebar-minimizer.brand-minimizer {
  display: none;
}

.sidebar-minimized .sidebar .nav-item:hover {
   color: #fff;
    background: #ff6c00;
}

.sidebar-minimized .sidebar .nav-item {
  border-radius: 4px;
}

.sidebar-minimized .sidebar .nav-link.active:hover {
  color: #fff;
  background: #ff6c00 !important;
}
.sidebar-minimized .sidebar .nav-link.active:hover .nav-icon {
  color: #fff !important;
}

.sidebar-minimized .sidebar .nav-link:hover {
  color: #000;
  background-color: rgb(255, 255, 255) !important;
}

.sidebar-minimized .sidebar .nav-link:hover .nav-icon {
  color: #000 !important;
}

.sidebar-minimized .sidebar .nav-link .nav-icon {
    display: block;
    float: left;
    width: 40px;
    font-size: 18px;
}

.sidebar-minimized .sidebar .nav-item {
  width: 40px;
}
.sidebar-minimized .sidebar .sidebar-nav {
  width: 55px;
}

.sidebar-toggler-mobile {
  display: none;
}

.fa.near-select {
  color: #1b2a8d;
}
.dropdown-item.active, .dropdown-item:active {
  background-color:  #1b2a8d;
}
@media (max-width: 991px) {
  .sidebar-toggler {
    display: none;
  }

  .sidebar-toggler-mobile {
    display: block;
  }
}

.city-selector-wrapper {
  position:relative
}

.loading-cities {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.bootstrap-select {
  width: 100% !important;
}

.main .container-fluid {
  padding: 30px;
}

.logo {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: #60d6ff;
    padding: 0 20px;
}

@media (max-width: 767px){
    .logo {
        display: none;
    }
}

.logo:hover{
    text-decoration: none;
    color: #60d6ff;
}

.logo--upcase {
    text-transform: uppercase;
}

.logo--blue {
    color: #00b2f0;
}

.app-header.navbar{
    justify-content: start;
    margin-bottom: 0;
    padding: 0 12px;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.08);
    z-index: 99;
}

.app-header {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: none;
}

.app-header .navbar-brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96px;
  height: 55px;
  padding: 0;
  margin-right: 0;
  background-color: transparent;
}

.app-header .navbar-brand i{
    background: url(/img/topreal-logo-with-title.png);
    width: 100%;
    height: 34px;
    background-position: left !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.app-header .navbar-brand .navbar-brand-minimized {
  display: none;
}

.app-header .navbar-toggler {
  min-width: 50px;
  padding: 0.25rem 0;
}

.app-header .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%232f353a' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.app-header .navbar-toggler-icon {
  height: 23px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.app-header .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-header .nav-item {
  position: relative;
  min-width: 50px;
  margin: 6px;
  text-align: center;
}

.app-header .nav-item button {
  margin-top: -4px;
}

.app-header .nav-item .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  background: 0;
  border: 0;
}

.app-header .nav-item .nav-link .badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
}

.app-header .nav-item .nav-link > .img-avatar,
.app-header .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
}

.app-header .dropdown-menu {
  padding-bottom: 0;
  line-height: 1.5;
}

.app-header .dropdown-item {
  min-width: 180px;
}

.navbar-nav .nav-link {
  color: #2bafc9;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #65e6ff;
}

.navbar-nav .open > .nav-link,
.navbar-nav .open > .nav-link:hover,
.navbar-nav .open > .nav-link:focus,
.navbar-nav .active > .nav-link,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:hover,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus {
  color: #2f353a;
}

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075);
}

@media (min-width: 992px) {
  .brand-minimized .app-header .navbar-brand {
    width: 50px;
    background-color: transparent;
  }

  .brand-minimized .app-header .navbar-brand .navbar-brand-full {
    display: none;
  }

  .brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
    display: block;
  }
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e4e7ea;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #697fa0;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #181b1e;
  text-decoration: none;
  background-color: #f6fdff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #00bbff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #73818f;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0 1.5rem;
  margin-bottom: 0;
  font-size: 0.765625rem;
  color: #73818f;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #697fa0;
}

.btn-light {
  color: #2bafc9;
  background-color: #fff;
}

.language-picker > .btn-light:hover, 
.language-picker > .btn-light:focus {
  color: #65e6ff;
  background-color: #fff;
  border-color: #fff; 
}

.language-picker.show > .btn-light{
    
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.355em;
    margin-top: 2px !important;
    vertical-align: 0.155em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-light:focus,
.btn-light.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #697fa0;
  background-color: #f0f3f5;
  border-color: #f0f3f5;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(240, 243, 245, 0.5);
}

.dropdown-item {
  position: relative;
  padding: 10px 20px;
}

.dropdown-item:last-child {
  border-bottom: 0;
}

.dropdown-item i {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  margin-left: -10px;
  color: #697fa0;
  text-align: center;
}

.dropdown-item .badge {
  position: absolute;
  right: 10px;
  margin-top: 2px;
}

.dropdown-header {
  padding: 8px 20px;
}

.dropdown-header .btn {
  margin-top: -7px;
  color: #73818f;
}

.fa.near-select{
    margin-right: -12px;
    z-index: 2;
    position: inherit;
    color: #2bafc9;
}

li.nav-item.with-select{
    padding-top: 4px;
}

.sidebar .nav-dropdown-items .nav-item {
  padding: 0;
  list-style: none;
}

.sidebar .nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: #7c94b7;
  text-decoration: none;
  background: transparent;
}

.sidebar .nav-link .nav-icon {
  display: inline-block;
  width: 1.09375rem;
  margin: 0 0.5rem 0 0;
  
  color: #73818f;
  text-align: center;
}

.sidebar .nav-link .badge {
  float: right;
  margin-top: 2px;
}

.sidebar .nav-link.active {
  color: white;
  background: #00bbff;
}

.sidebar .nav-link.active .nav-icon {
  color: white;
}

.sidebar .nav-link:hover {
  color: #7c94b7;
  background: #fff;
}

.sidebar .nav-link:hover .nav-icon {
  color: #7c94b7;
}

.app-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    color: #697fa0;
    border-top: 1px solid #eff2f7;
    background-color: #fff;
}

@media (min-width: 768px){
    .form-horizontal .control-label {
        padding-top: 7px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: right;
    }
}

label{
    font-weight: bold;
}

.form-control{
    border: 2px solid #a6bcdc;
}

.top-panel{
    padding: 10px 0;
}

.list-group-item.small-item {
  padding: 0.25rem 0.75rem;
}

.admin-tab-content {
  margin-bottom: 15px;
}

.pool-save {
  align-self: flex-end;
}

.select-group {
  display: none;
}
.CodeMirror {
  border: 1px solid #e4e7ea;
}

.input-group-append > .btn-group > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rs,
.dc  {
  display: none;
}



/******* new styles *****/

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6fdff;
}

.sidebar-minimizer.brand-minimizer {
  display: none;
}

.sidebar-minimized .sidebar .nav-item:hover {
   color: #fff;
    background: #ff6c00;
}

.sidebar-minimized .sidebar .nav-item {
  border-radius: 4px;
}

.sidebar-minimized .sidebar .nav-link.active:hover {
  color: #fff;
  background: #ff6c00 !important;
}
.sidebar-minimized .sidebar .nav-link.active:hover .nav-icon {
  color: #fff !important;
}

.sidebar-minimized .sidebar .nav-link:hover {
  color: #000;
  background-color: rgb(255, 255, 255) !important;
}

.sidebar-minimized .sidebar .nav-link:hover .nav-icon {
  color: #000 !important;
}

.sidebar-minimized .sidebar .nav-link .nav-icon {
    display: block;
    float: left;
    width: 40px;
    font-size: 18px;
}

.sidebar .nav-link{
    float: right;
}

.sidebar .nav-link .title{
    display: none;
}

.sidebar-lg-show .sidebar .nav-link,
.sidebar-show .sidebar .nav-link,{
    float: left;
    width: 100%;
}

html:not([dir=rtl]) .sidebar {
    margin-left: -138px;
}

@media (min-width: 992px){
    html:not([dir=rtl]) .main, 
    html:not([dir=rtl]) .app-footer{
        margin-left: 63px;
    }
}

.sidebar-lg-show .sidebar .nav-link .title{
    display: inline-block;
}

.sidebar-minimized .sidebar .nav-item {
  width: 40px;
}
.sidebar-minimized .sidebar .sidebar-nav {
  width: 55px;
}

.sidebar-toggler-mobile {
  display: none;
}

.breadcrumb {
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .sidebar-toggler {
    display: none;
  }

  .sidebar-toggler-mobile {
    display: block;
  }
}


.city-selector-wrapper {
  position:relative
}

.loading-cities {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.bootstrap-select {
  width: 100% !important;
}


.domain-to-add {
  line-height: 2.5
}

.lookup-button {
  color: #fff;
  background-color: #6add46;
  border-color: #6add46;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom: 2px solid #eee;
}

.table-bordered>tbody>tr>td {
    border: 1px solid #eee;
}

.table-bordered {
    border: 1px solid #eee;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #eee;
}