
.property-details .property-card{
    border: none;
    
}

.property-details .property-card .card-body{
    
}

.property-details .property-card .image{
    width: 100%;
    height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.property-details .property-card-link{
    text-decoration: none;
    color: #000;
}

.property-details .property-card-link:hover{
    color: #000;
}

.property-details .property-card .description{
    width: 100%;
    height: 111px;
    /* background: #4141418f; */
    /* margin-top: -100px; */
    padding: 10px;
}

.property-details .property-card .description .title{
    font-weight: 800;
}

.property-card .description .address{
    
}

.property-details .property-card .description .price{
    
}

.property-details .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-top: 1px solid #41496f1c;
    border-bottom: none;
    font-weight: 700;
}

textarea.add-review{
    height: 50vh;
    max-height: 20em;
}