
.logo-wrapper{
    padding: 5px;
}

.pac-target-input{
    
}

.search-realty .property-card{
    border: none;
    margin-top: 30px;
    border-radius: 1.35rem;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.08);
}

.search-realty .property-card .card-body{
    border-radius: 0.75rem;
}

.search-realty .property-card .image{
    width: 100%;
    height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1.35rem;
    border-top-right-radius: 1.35rem;
}

.search-realty .property-card-link{
    text-decoration: none;
    color: #41496f;
}

.search-realty .property-card-link:hover{
    color: #41496f;
}

.search-realty .property-card .description{
    width: 100%;
    height: 111px;
    /* background: #4141418f; */
    /* margin-top: -100px; */
    padding: 10px;
}

.search-realty .property-card .description .title{
    font-weight: 800;
}

.search-realty .property-card .description .address{
    
}

.search-realty .property-card .description .price{
    
}

.autocomplete-wrapper{
    margin-top: 15px;
}

.metro-icon{
    background-image: url(/img/icons/spb_metro_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-bottom: -.9px;
}