<template>
  <div>
    <div v-if="isLoading" class="article-preview">Loading questions...</div>
    <div v-else>
      <div v-if="questions.length === 0" class="article-preview">
        No questions are here... yet.
      </div>
      <RwvArticlePreview
        v-for="(question, index) in questions"
        question="question"
        :key="question.title + index"
      />
      <VPagination :pages="pages" :currentPage.sync="currentPage" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import RwvArticlePreview from "./VArticlePreview";
import VPagination from "./VPagination";
import { FETCH_QUESTIONS } from "../store/actions.type";

export default {
  name: "RwvQuestionList",
  components: {
    RwvArticlePreview,
    VPagination
  },
  props: {
    type: {
      type: String,
      required: false,
      default: "all"
    },
    itemsPerPage: {
      type: Number,
      required: false,
      default: 10
    }
  },
  data() {
    return {
      currentPage: 1
    };
  },
  computed: {
    listConfig() {
      const { type } = this;
      const filters = {
        offset: (this.currentPage - 1) * this.itemsPerPage,
        limit: this.itemsPerPage
      };
      
      return {
        type,
        filters
      };
    },
    pages() {
      if (this.isLoading || this.questionsCount <= this.itemsPerPage) {
        return [];
      }
      return [
        ...Array(Math.ceil(this.questionsCount / this.itemsPerPage)).keys()
      ].map(e => e + 1);
    },
    ...mapGetters(["questionsCount", "isLoading", "questions"])
  },
  watch: {
    currentPage(newValue) {
      this.listConfig.filters.offset = (newValue - 1) * this.itemsPerPage;
      this.fetchQuestions();
    },
    type() {
      this.resetPagination();
      this.fetchQuestions();
    },
  },
  mounted() {
    this.fetchQuestions();
  },
  methods: {
    fetchQuestions() {
      this.$store.dispatch(FETCH_QUESTIONS, this.listConfig);
    },
    resetPagination() {
      this.listConfig.offset = 0;
      this.currentPage = 1;
    }
  }
};
</script>
