<template>
  <div class="home-global"><RwvQuestionList type="all" /></div>
</template>
<script>
import RwvQuestionList from "../components/QuestionList";

export default {
  name: "rwv-home-global",
  components: {
    RwvQuestionList
  }
};
</script>
