<template>
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>Test</h1>
      </div>
    </div>
    <div class="container page">
      <div class="row article-content">
        <div class="col-xs-12">
          <div ></div>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import store from "../store";
import { FETCH_TEST } from "../store/actions.type";

export default {
    name: "test",
    props: {

    },
    components: {

    },
    mounted() {
        store.dispatch(FETCH_TEST);
    },
    computed: {
        ...mapGetters(["currentUser", "isAuthenticated"])
    },
    methods: {

    }
};
</script>
